<template>
	<div class="row">
		<div class="loading-overlay" v-if="!fullyLoaded">
			<div class="spinner">
				<div></div>
			</div>
		</div>
		<div class="col-lg-6">
			<balance-block v-on:bbLoaded="onBBLoaded"></balance-block>	
		</div>
		<div class="col-lg-6">
			<schedule-block v-on:sbLoaded="onSBLoaded"></schedule-block>
		</div>
		<div class="col-lg-12">
			<games-history-block v-on:ghbLoaded="onGHBLoaded"></games-history-block>
		</div>
	</div>
</template>
<script>
	import  BalanceBlock  from './blocks/BalanceBlock';
	import  GamesHistoryBlock  from './blocks/GamesHistoryBlock';
	import  ScheduleBlock  from './blocks/ScheduleBlock';

	export default {
		components: {
			'balance-block': BalanceBlock,
			'games-history-block': GamesHistoryBlock,
			'schedule-block': ScheduleBlock
		},
		computed: {
			fullyLoaded: function() {
				return !this.bbLoading && !this.ghbLoading && !this.sbLoading;
			},
		},
		data: () => {
			return {
				bbLoading: true,
				ghbLoading: true,
				sbLoading: false
			};
		},
		methods: {
			onBBLoaded: function() {
				this.bbLoading = false;
			},
			onGHBLoaded: function() {
				this.ghbLoading = false;
			},
			onSBLoaded: function() {
				this.sbLoading = false;
			}
		}
	}
</script>