<template>
	<div class="data-entry-form data-entry-form__holder">
		<div class="col-lg-12">
			<div class="data-entry-form__header clearfix">
				<h3>{{ formTitle }}</h3>
				<ul class="actions-list">
					<li>
						<button @click="submit" class="btn btn-success">Enregistrer</button>
					</li>
					<li>
						<button class="btn btn-primary" @click="togglePubsForm">
							<span class="glyphicon" :class="pubButtonIcn"></span> {{ pubButtonLabel }}
						</button>
					</li>
					<li><button class="btn btn-danger" @click="closeForm"><span class="glyphicon glyphicon-remove"></span> Annuler</button></li>
				</ul>
			</div>
			<form @submit.prevent="submit">
				<div v-if="errors != ''">
            		{{ errors }}
            	</div>
            	<div class="loading-overlay" v-if="!formReady">
					<div class="spinner">
						<div></div>
					</div>
				</div>
            	<div class="row" v-else>
            		<div class="col-md-6">
	            		<div class="form-group clearfix">
		                    <label for="name" class="control-label">Nom de la saison</label>
		                    <input id="name" type="text" class="form-control" name="name" v-model="modifiedSeason.name" value="" >
		                </div>

		                <div class="form-group clearfix col-md-6 no-pl">
		                	<label for="begin" class="control-label">Date de début de saison</label>
							<date-picker v-model="modifiedSeason.begin" :language="fr"></date-picker>
	                    </div>
	                    <div class="form-group clearfix col-md-6 no-pl no-pr">
	                    	<label for="end" class="control-label">Date de fin de saison</label>
							<date-picker v-model="modifiedSeason.end" :language="fr"></date-picker>
						</div>

						<div class="form-group">
							<label for="type" class="control-label">Type de saison</label>

		                    <select name="type" id="type" class="form-control" v-model="modifiedSeason.type.id">
		                    	<option value="null"></option>
	                        	<option v-for="type in types" :value="type.id">{{ type.name }}</option>
	                        </select>
						</div>

						<div class="form-group" v-if="getLastRecurrenceNumber <= 6">
							<button type="button" class="btn btn-success" @click="createNewRecurrence()" >Ajouter un jour de match</button>
						</div>

						<div class="form-group clearfix" v-if="hasReccurenceInfos">
							<recurrence-recap :recurrence="modifiedSeason.games_per_week" v-on:updateGPW="updateGamesPerWeek"></recurrence-recap>
						</div>
		                
						<div class="form-group clearfix">
							<label for="arena" class="control-label">Aréna</label>
		                    
	                        <select name="arena" id="arena" class="form-control" v-model="modifiedSeason.arena_id">
	                        	<option v-for="arena in arenas" :value="arena.id">{{ arena.name }}</option>
	                        </select>
						</div>

						<div class="form-group clearfix" v-if="pubsSection.open">
							<label for="publicity_home" class="control-label">Publicité équipe locale</label>
		                    
	                        <select name="publicity_home" id="status" class="form-control" v-model="modifiedSeason.publicity_id_home">
	                        	<option v-for="pub in pubs" :value="pub.id">{{ pub.name }}</option>
	                        </select>

	                        <label for="publicity_away" class="control-label">Publicité équipe visiteur</label>
	                        <select name="publicity_away" id="publicity_away" class="form-control" v-model="modifiedSeason.publicity_id_away">
	                        	<option v-for="pub in pubs" :value="pub.id">{{ pub.name }}</option>
	                        </select>
						</div>

						<div class="form-group clearfix col-md-6 no-pl">
							<label for="player_season_price" class="control-label">Prix saisonnier joueur</label>
							<input id="player_season_price" type="number" class="form-control" name="player_season_price" v-model="modifiedSeason.player_season_price">

							<label for="goalie_season_price" class="control-label">Prix saisonnier gardien</label>
							<input id="goalie_season_price" type="number" class="form-control" name="goalie_season_price" v-model="modifiedSeason.goalie_season_price">
						</div>

						<div class="form-group clearfix col-md-6 no-pl no-pr">
							<label for="player_game_price" class="control-label">Prix à la partie joueur</label>
							<input id="player_game_price" type="number" class="form-control" name="player_game_price" v-model="modifiedSeason.player_game_price">

							<label for="goalie_game_price" class="control-label">Prix à la partie gardien</label>
							<input id="goalie_game_price" type="number" class="form-control" name="goalie_game_price" v-model="modifiedSeason.goalie_game_price">
						</div>

						<div class="form-group clearfix">
							<label for="games_number" class="control-label">Nombre de parties</label>
							<input id="games_number" type="number" class="form-control" name="games_number" v-model="modifiedSeason.games_number">
						</div>
						<div class="form-group">
							<p>Nombre de places totales disponibles par match:</p>
							<div class="form-group clearfix  no-pl" v-bind:class="[isCompetitiveOrTournament ? 'col-md-4': 'col-md-6']">
								<label for="total_spots" class="control-label">Joueurs</label>
								<input id="total_spots" type="number" class="form-control" name="total_spots" v-model="modifiedSeason.total_spots">
							</div>
							<div class="form-group clearfix" v-bind:class="[isCompetitiveOrTournament ? 'col-md-4': 'col-md-6 no-pl no-pr']">
								<label for="total_spots_goalies" class="control-label">Gardiens</label>
								<input id="total_spots_goalies" type="number" class="form-control" name="total_spots_goalies" v-model="modifiedSeason.total_spots_goalies">
							</div>
							<div class="form-group clearfix  no-pl" v-if="isCompetitiveOrTournament" v-bind:class="[isCompetitiveOrTournament ? 'col-md-4 no-pl no-pr': 'col-md-6']">
								<label for="total_spots_teams" class="control-label">Équipes</label>
								<input id="total_spots_teams" type="number" class="form-control" name="total_spots_teams" v-model="modifiedSeason.total_spots_teams">
							</div>
						</div>
						

						<div class="form-group clearfix">
							<label for="level" class="control-label">Niveau de compétition</label>
							<input id="level" type="text" class="form-control" name="level" v-model="modifiedSeason.level">
						</div>

						<div class="form-group clearfix">
							<label for="notes" class="control-label">Notes</label>
							<textarea v-model="modifiedSeason.notes" name="notes" class="form-control"></textarea>
						</div>

						<div class="form-group clearfix">
							<input id="inscription_players" type="checkbox" name="inscription_players" v-model="modifiedSeason.inscription_players">
							Accepte les inscriptions de joueurs
						</div>

						<div class="form-group clearfix">
							<input id="inscription_goalies" type="checkbox" name="inscription_goalies" v-model="modifiedSeason.inscription_goalies">
							Accepte les inscriptions de gardiens
						</div>

						<div class="form-group clearfix">
	                        <input id="find_match" type="checkbox"  name="find_match" v-model="modifiedSeason.find_match">
	                        Visible dans la section <em>Trouver un match</em>
						</div>
	            	</div>
	            	<div class="col-md-6" v-if="modifiedSeason.id != null">
						<div class="data-entry-form__header clearfix">
							<h4>Matchs</h4>
							<ul class="actions-list no-mt">
								<li>
									<button type="button" class="btn btn-success" @click="openGameForm()">
										<span class="glyphicon glyphicon-plus"></span> Ajouter un match
									</button>
								</li>
								<li v-if="games.length == 0">
									<button type="button" class="btn btn-success" @click="triggerGamesGeneration">
										<span class="glyphicon glyphicon-flash"></span> Générer les matchs
									</button>
								</li>
							</ul>
							<div class="clearfix message-box" :class="gameMessageClass" v-if="gameGenerationResponse != null">
								{{ gameMessage }}
								<button @click="closeGameMessage"><span class="glyphicon glyphicon-remove"></span> Fermer</button>
							</div>
						</div>
						<vue-good-table
							mode="remote"
						  	@on-page-change="onPageChange"
					  		@on-sort-change="onSortChange"
						  	@on-column-filter="onColumnFilter"
						  	@on-per-page-change="onPerPageChange"
						  	:totalRows="totalRecords"
						  	:isLoading.sync="isLoading"
						  	:sort-options="sortingOpts"
							:columns="columns"
							:rows="games"
							max-height="350px"
							v-if="!gamesLoading && games.length > 0">
							<template slot="table-row" slot-scope="props">
							    <ul class="actions-list" v-if="props.column.field == 'after'">
									<li>
										<button type="button" @click="openGameForm(props.row)" title="" class="btn btn-info">
											<span class="glyphicon glyphicon-edit"></span>
										</button>
									</li>
									<li>
										<button type="button" @click="triggerDeleteGame(props.row)" title="" class="btn btn-danger">
											<span class="glyphicon glyphicon-trash" ></span> 
										</button>
									</li>
							    </ul>
							    <span v-else>
							      {{props.formattedRow[props.column.field]}}
							    </span>
							</template>
							<template slot="loadingContent">
								<div class="loading-overlay" v-if="isLoading">
									<div class="spinner">
										<div></div>
									</div>
								</div>
							</template>
						</vue-good-table>
						<div class="message-box" v-else>
							Aucun match prévue pour cette saison
						</div>
						<div class="data-entry-form__header clearfix" >
							<h4>Joueurs inscrits</h4>
							<ul class="actions-list no-mt">
								<li>
									<button type="button" class="btn btn-success" @click="openAssignPlayers()">
										<span class="glyphicon glyphicon-plus"></span> Assigner des joueurs
									</button>
								</li>
							</ul>
						</div>
						<vue-good-table
							:columns="columnsPlayers"
							:rows="modifiedSeason.players"
							max-height="350px"
							v-if="Array.isArray(modifiedSeason.players) && modifiedSeason.players.length > 0"
							>
							<template slot="loadingContent">
								<div class="loading-overlay" v-if="isLoading">
									<div class="spinner">
										<div></div>
									</div>
								</div>
							</template>
							<template slot="table-row" slot-scope="props">
							    <ul class="actions-list" v-if="props.column.field == 'after'">
									<!-- <li>
										<button type="button" @click="openGameForm(props.row)" title="" class="btn btn-info">
											<span class="glyphicon glyphicon-edit"></span>
										</button>
									</li> -->
									<li>
										<button type="button" @click="removePlayer(props.row)" title="" class="btn btn-danger">
											<span class="glyphicon glyphicon-trash" ></span> 
										</button>
									</li>
							    </ul>
							    <span v-else-if="props.column.field == 'is_goalie' && props.row.pivot.is_goalie == 1">
									<span class="glyphicon glyphicon-ok"></span>
								</span>
							    <span v-else>
							      {{props.formattedRow[props.column.field]}}
							    </span>
							</template>
						</vue-good-table>
						<div class="message-box" v-else>
							Aucun joueur inscrit pour cette saison
						</div>
					</div>
            	</div>
			</form>
			<assign-players 
				v-if="assignPlayersOpened" 
				v-on:closeAssignPlayers="closeAssignForm"
				v-on:updatePlayers="updatePlayers"
				:players="modifiedSeason.players"
				:max-players="modifiedSeason.total_spots" 
				:max-goalies="modifiedSeason.total_spots_goalies" ></assign-players>
		</div>
	</div>
</template>
<script>
	import {eventBus} from "../../../../app";
	import Datepicker from 'vuejs-datepicker';
	import {fr} from 'vuejs-datepicker/dist/locale'
	
	// import the styles
	import 'vue-good-table/dist/vue-good-table.css'
	import { VueGoodTable } from 'vue-good-table';
	import RecurrenceRecap from './RecurrenceRecap';
	import AssignPlayers from '../players/AssignPlayers';
	export default {
		created() {
			this.fetchArenas();
			this.fetchTypes();
			this.modifiedSeason = Object.assign(this.modifiedSeason, this.season);
			
			// this.modifiedSeason.games_per_week = JSON.parse(this.modifiedSeason.games_per_week);

			this.$set(this.modifiedSeason, 'games_per_week', JSON.parse(this.modifiedSeason.games_per_week))

			// formatting de la date pour éviter un brainfart de vuejsdatepicker
			this.modifiedSeason.begin = (this.modifiedSeason.begin !== null) ?  new Date(this.modifiedSeason.begin.replace(/-/g, '/')) : null;
			this.modifiedSeason.end = (this.modifiedSeason.end !== null) ? new Date(this.modifiedSeason.end.replace(/-/g, '/')) : null;

			if(this.modifiedSeason.begin !== null && this.modifiedSeason.end !== null && this.modifiedSeason.begin.getTime() == this.modifiedSeason.end.getTime()) {
				this.serverParams.sort = {"type": "asc", "field": "game_start"};
			}

			if(this.modifiedSeason.id != null) {
				this.fetchGames();
				// this.fetchPlayers();
			}

			eventBus.$on('refreshGames', (event)=> {
				this.fetchGames();
			});
		},
		props: ['season'],
		components: {
			"assign-players": AssignPlayers,
            "date-picker": Datepicker,
            "recurrence-recap": RecurrenceRecap,
            VueGoodTable
        },
        computed: {
        	formTitle: function() {
        		return (this.modifiedSeason.id !== null) ? 'Éditer la saison: ' + this.season.name : "Création d'une saison";
        	},
        	formReady: function() {
        		return !this.arenasLoading && !this.gamesLoading;
        	},
        	gameMessage: function() {
        		return (typeof this.gameGenerationResponse === 'object') ? this.gameGenerationResponse.message + " ( Nombre de matchs généré: " + this.gameGenerationResponse.game_created + " )" : this.gameGenerationResponse;
        	},
        	gameMessageClass: function() {
        		return (typeof this.gameGenerationResponse === 'object') ? this.gameGenerationResponse.class : 'success';
        	},
        	hasReccurenceInfos: function() {
        		var parsedGPW = this.modifiedSeason.games_per_week;
        		for(var key in parsedGPW) {
        			if(parsedGPW.hasOwnProperty(key)) {
        				return true;
        			}
        		}
        		return false;
        	},
        	getLastRecurrenceNumber: function() {
        		return (this.modifiedSeason.games_per_week != null) ? Object.keys(this.modifiedSeason.games_per_week).length : 0;
        	},
        	pubButtonLabel: function() {
        		return (this.pubsSection.open) ? this.pubsSection.btnMsgOpen : this.pubsSection.btnMsgClosed;
        	},
        	pubButtonIcn: function() {
        		return (this.pubsSection.open) ? this.pubsSection.icnOpened : this.pubsSection.icnClosed;
        	},
        	isCompetitiveOrTournament: function() {
        		return (this.modifiedSeason.type == 2 || this.modifiedSeason.type == 3) ? true : false;
        	},
        },
		data: function() {
			return {
				modifiedSeason: {
					id: null,
					type: {
						id: null,
					},
					league_id: null,
					name:"",
					begin:null,
					end:null,
					arena_id:null,
					games_per_week: null,
					level:"",
					notes:"",
					publicity_id_home:null,
					publicity_id_away:null,
					player_season_price:"",
					goalie_season_price:"",
					player_game_price:"",
					goalie_season_price:"",
					games_number:"",
					total_spots: "",
					total_spots_goalies: "",
					total_spots_teams: "",
					inscription_players: 1,
					inscription_goalies: 1,
					find_match: 1,
					order:"",
					status:"",
				},
				arenas:[],
				arenasLoading: false,
				assignPlayersOpened: false,
				columns: [
					{
						label: 'Date',
						field: 'date'
					},
					{
						label: 'Heure début',
						field: 'game_start'
					},
					{
						label: 'Actions',
						field: 'after'
					},
				],
				columnsPlayers: [
					{
						label: 'Prénom',
						field: 'first_name'
					},
					{
						label: 'Nom',
						field: 'last_name'
					},
					{
						label: 'Gardien',
						field: 'is_goalie',
						sortFn: this.sortIsGoalie,
					},
					{
						label: 'Actions',
						field: 'after',
						sortable: false
					},
				],
				fr: fr,
				games: [],
				gameGenerationResponse: null,
				gamesLoading: false,
				pubsSection: {
					open: false,
					btnMsgOpen: 'Fermer la section publicitaire',
					btnMsgClosed: 'Ouvrir la section publicitaire',
					icnClosed: 'glyphicon-pencil',
					icnOpened: 'glyphicon-remove',
				},

				pubs:[],
				errors: [],
				sortingOpts: {
				    enabled: true
				},
				totalRecords: 0,
				types:[],
				typesLoading: false,
				serverParams: {
					columnFilters: {},
					sort: {"type": "asc", "field": "date"},
					page: 1
			    }
			}
		},
		methods: {
			closeForm: function() {
				this.$emit('closeSeasonForm');
				eventBus.$emit('refreshLeague');
			},
			closeGameMessage: function() {
				this.gameGenerationResponse = null;
			},
			submit: function() {
				if(this.modifiedSeason.id != null) {
					this.updateSeason();
				} else {
					this.createSeason();
				}
			},
			updateSeason: function() {
				this.prepareDataForTreatment();
				axios.put('/api/season/' + this.modifiedSeason.id + '/update', this.modifiedSeason)
					.then(response => {
						this.$emit('closeSeasonForm', response.data);
					})
					.catch(error => {
						console.log(error);
					});
			},
			createSeason: function() {
				this.prepareDataForTreatment();
				axios.post('/api/season/create', this.modifiedSeason)
					.then(response => {
						this.$emit('closeSeasonForm', response.data);
					})
					.catch(error => {
						console.log(error);
					});
			},
			fetchArenas: function() {
				this.arenasLoading = true;
				axios.get('/api/arenas')
					.then(response => {
						this.arenasLoading = false;
						this.arenas = response.data;
					})
					.catch(error => {
						this.arenasLoading = false;
						console.log(error);
					});
			},
			fetchGames: function() {
				this.gamesLoading = true;
				axios.get('/api/season/' + this.modifiedSeason.id + '/games', { 'params': this.serverParams })
					.then(response => {
						this.gamesLoading = false;
						this.handleResponse(response.data);
					})
					.catch(error => {
						this.gamesLoading = false;
						console.log(error);
					});
			},
			fetchTypes: function() {
				this.typesLoading = true;
				axios.get('/api/season-types/')
					.then(response => {
						this.types = response.data;
						this.typesLoading = false;
					})
					.catch(error => {
						console.log(error);
						this.typesLoading = false;
					});
			},
			handleResponse: function(response) {
				var data = Object.values(response.data);
				var handledData = [];

				data.forEach(function(item) {
					handledData.push(item);
				});

				this.games = handledData;
			 	this.totalRecords = response.total
			 	this.isLoading = false;
			},
			openGameForm: function(game) {
				this.$emit('gameFormOpen', {
					game: (game != undefined) ? game : { arena_id: this.modifiedSeason.arena_id, season_id: this.modifiedSeason.id, date: (this.modifiedSeason.begin.getTime() == this.modifiedSeason.end.getTime()) ? this.modifiedSeason.begin : null  },
					limits: {
						start: new Date(this.modifiedSeason.begin.getTime()),
						end: new Date(this.modifiedSeason.end.getTime())
					},
					arenas: this.arenas
				});
			},
			togglePubsForm: function() {
				this.pubsSection.open = !this.pubsSection.open;
			},
			triggerGamesGeneration: function() {
				this.gamesLoading = true;
				axios.post('/api/season/' + this.modifiedSeason.id + '/games/create', this.modifiedSeason)
					.then(response => {
						this.gamesLoading = false;
						this.gameGenerationResponse = response.data;
						this.fetchGames();
					})
					.catch(error => {
						this.gamesLoading = false;
						console.log(error);
					});
			},
			triggerDeleteGame: function(game) {
				this.gamesLoading = true;
				axios.delete('/api/season/' + this.modifiedSeason.id + '/game/' + game.id + '/delete')
					.then(response => {
						this.gamesLoading = false;
						this.gameGenerationResponse = response.data;
						this.fetchGames();
					})
					.catch(error => {
						this.gamesLoading = false;
						console.log(error);
					});
			},
			removePlayer: function(player) {
				var result = this.modifiedSeason.players.filter(seasonPlayer => seasonPlayer.id !== player.id);
				this.$set(this.modifiedSeason, 'players', result);
				// hack molo
				this.$forceUpdate();
			},
			updatePlayers: function(data) {
				this.modifiedSeason.players = data;
			},
			updateParams(newProps) {
		      	this.serverParams = Object.assign({}, this.serverParams, newProps);
		    },
		    
		    onPageChange(params) {
				this.updateParams({page: params.currentPage});
				this.fetchGames();
		    },

		    onPerPageChange(params) {
				this.updateParams({perPage: params.currentPerPage});
				this.fetchGames();
		    },

		    onSortChange(params) {
				this.updateParams({
					sort: {
						type: params[0].type,
						field: params[0].field,
					},
					page: 1,
				});
				this.fetchGames();
		    },
		    
		    onColumnFilter(params) {
				this.updateParams(params);
				this.fetchPlayers();
    		},
    		openAssignPlayers: function() {
    			this.assignPlayersOpened = true;
    		},
    		closeAssignForm: function() {
    			this.assignPlayersOpened = false;
    		},
    		sortIsGoalie: function(x, y, col, rowX, rowY) {
    			return (rowX.pivot.is_goalie < rowY.pivot.is_goalie ? -1 : (rowX.pivot.is_goalie > rowY.pivot.is_goalie ? 1 : 0));
    		},
    		createNewRecurrence: function() {
    			var result = this.modifiedSeason.games_per_week;
    			var last_game_id = this.getLastRecurrenceNumber;

    			if(result == null) {
    				this.$set(this.modifiedSeason, 'games_per_week', {});
    			} 

    			if(last_game_id <= 6) {
    				this.$set(this.modifiedSeason.games_per_week, 'game_' + (last_game_id + 1), {
						"day": null,
						"start": null,
						"end": null
	    			});
    			}
    		},
    		updateGamesPerWeek: function(data) {
    			this.modifiedSeason.games_per_week = Object.assign({}, data);
    		},
    		prepareDataForTreatment: function() {
    			this.modifiedSeason.type = (typeof this.modifiedSeason.type === 'object') ? this.modifiedSeason.type.id : this.modifiedSeason.type;
    		}
		}
	}
</script>