<template>
	<div class="recurrence-recap__wrapper">
		<div class="recurrence-recap__options" v-if="selectedRecurrence != null">
			<div class="form-group clearfix">
				<label for="day" class="control-label">Jour de la saison</label>
			                    
	            <select name="day" id="day" class="form-control" v-model="selectedRecurrence.day"> <!-- v-model="modifiedSeason.day" -->
	            	<option v-for="day in days" :value="day">{{ day }}</option>
	            </select>
	        </div>

            <div class="form-group clearfix col-md-6 no-pl">
				<label for="game_start" class="control-label block">Heure de début des parties</label>
				<vue-timepicker v-model="selectedRecurrence.start" @change="startChangeHandler"></vue-timepicker>
			</div>
			<div class="form-group clearfix col-md-6 no-pl no-pr">
				<label for="game_end" class="control-label block">Heure de fin des parties</label>
				<vue-timepicker v-model="selectedRecurrence.end" @change="endChangeHandler"></vue-timepicker>
			</div>
		</div>
		<div class="recurrence-recap__body">
			<p><strong class="recurrence-recap__title">Résumé</strong></p>

			<p>Vos parties sont à tous les:</p>
			<ul>
				<li v-for="(game, key) in recurrencesObj">
					{{game.day}} de {{game.start}} à {{game.end}}
					<ul class="actions-list" v-if="selectedRecurrenceKey !== key">
						<li><button type="button" class="btn btn-success" @click="modifyRecurrence(game, key)" >Modifier</button></li>
						<li><button type="button" class="btn btn-danger" @click="deleteRecurrence(key)">Supprimer</button></li>
					</ul>
					<ul class="actions-list" v-else>
						<li><button type="button" class="btn btn-success" @click="saveRecurrence()" >Sauvegarder</button></li>
						<li><button type="button" class="btn btn-danger" @click="resetRecurrence()">Annuler</button></li>
					</ul>
					
				</li>
			</ul>
		</div>
	</div>
</template>
<script>
	import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
	export default {
		created() {
			this.recurrencesObj = Object.assign(this.recurrencesObj, this.recurrence);
		},
		props: {
			recurrence: Object,
			default: {}
		},
		components: {
			'vue-timepicker': VueTimepicker
		},
		computed: {
			hasReccurenceInfos: function() {
        		for(var key in this.recurrencesObj) {
        			if(this.recurrencesObj.hasOwnProperty(key)) {
        				return true;
        			}
        		}
        		return false;
        	}
		},
		data: function() {
			return {
				recurrencesObj: {},
				selectedRecurrence: null,
				selectedRecurrenceKey: null,
				days:['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
			}
		},
		methods: {
			resetRecurrence: function() {
				this.$set(this, 'selectedRecurrence', null);
				this.$set(this.recurrencesObj, this.selectedRecurrenceKey, this.recurrence[this.selectedRecurrenceKey]);
				this.$set(this, 'selectedRecurrenceKey', null);
				
			},
			modifyRecurrence: function(game, key) {
				this.selectedRecurrence = game;
				this.selectedRecurrenceKey = key;
			},
			saveRecurrence: function() {
				this.$set(this.recurrencesObj, this.selectedRecurrenceKey, this.selectedRecurrence);
				this.$set(this, 'selectedRecurrence', null);
				this.$set(this, 'selectedRecurrenceKey', null);
				this.$emit('updateGPW', this.recurrencesObj);
			},
			deleteRecurrence: function(key) {
				delete this.recurrencesObj[key];
				this.$emit('updateGPW', this.recurrencesObj);
			},
			changeHandler: function(eventData) {
				var result = eventData.data.HH + ':';
				result += (eventData.data.mm == '') ? '00' : eventData.data.mm;
				return result;
			},
			startChangeHandler: function(eventData) {
				this.selectedRecurrence.start = this.changeHandler(eventData);
			},
			endChangeHandler: function(eventData) {
				this.selectedRecurrence.end = this.changeHandler(eventData);
			},	
		},
		watch: {
			recurrence: function(newData, oldData) {
				this.recurrencesObj = newData;
			}
		}
	}
</script>