<template>
    <div class="last-five">
        <div class="container">
            <ul>
                <li class="last-five_item" v-for="(i, index) in list">
                    <div class="last-five_infos text-center">
                        {{ i.translated_date }} - {{ i.start_at }}
                        <small>{{ i.arena }}</small>
                    </div>
                    <table class="last-five_scores">
                        <tr><th>{{ i.team_away }}</th><td>{{ i.team_away_score }}</td></tr>
                        <tr><th>{{ i.team_home }}</th><td>{{ i.team_home_score }}</td></tr>
                    </table>
                    <a href="#"><span>Résumé</span></a>
                </li>
            </ul>
            <div class="loading-overlay" v-if="loading">
                <div class="spinner">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        created: function() {
            this.loading = true;
            this.$store.dispatch('retrieveLastFives')
                .then(response => {
                    this.loading = false;
                });
        },
        computed: {
            list() {
                return this.$store.getters.lastFives;
            },
        },
        mounted: function() {
            console.log('LastFive mounted.')
        },
        data() {
            return {
                loading: false
            }
        }
    }
</script>