<template>
    <div class="latest-news">
        <carousel :auto="auto" :watch-items="list">
          <carousel-item
            v-for="(i, index) in list"
            :key="index"
            @click="hello"
          >
            <img :src="i.image" alt="image" />
            <div class="v-carousel-item-content">
                <h2>{{ i.title }}</h2>
                <p>{{ i.excerpt }}</p>
                <a href="#" class="btn btn-default">Lire la suite</a>
            </div>
          </carousel-item>
        </carousel>
    </div>
</template>

<script>
    import { Carousel, CarouselItem } from 'vue-l-carousel'

    export default {
        name: 'latest-news',
        components: {
            Carousel,
            CarouselItem
        },
        data() {
            return {
                auto: 0,
                list: [
                    {
                        id: 1,
                        title: 'Post 1',
                        excerpt: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magni vel aliquid repellendus, maiores tempora perspiciatis libero, saepe temporibus, neque voluptate fugiat necessitatibus quasi ullam accusamus totam animi veritatis consequatur.',
                        image: '/storage/posts/post1.jpg',
                        created_at: '2019-01-29 10:53',
                        updated_at: '2019-01-29 10:53',
                        width: '100%'
                    },
                    {
                        id: 2,
                        title: 'Post 2',
                        excerpt: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magni vel aliquid repellendus, maiores tempora perspiciatis libero, saepe temporibus, neque voluptate fugiat necessitatibus quasi ullam accusamus totam animi veritatis consequatur.',
                        image: '/storage/posts/post2.jpg',
                        created_at: '2019-01-29 10:53',
                        updated_at: '2019-01-29 10:53',
                        width: '100%'
                    },
                    {
                        id: 3,
                        title: 'Post 3',
                        excerpt: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magni vel aliquid repellendus, maiores tempora perspiciatis libero, saepe temporibus, neque voluptate fugiat necessitatibus quasi ullam accusamus totam animi veritatis consequatur.',
                        image: '/storage/posts/post3.jpg',
                        created_at: '2019-01-29 10:53',
                        updated_at: '2019-01-29 10:53',
                        width: '100%'
                    },
                    {
                        id: 4,
                        title: 'Post 4',
                        excerpt: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magni vel aliquid repellendus, maiores tempora perspiciatis libero, saepe temporibus, neque voluptate fugiat necessitatibus quasi ullam accusamus totam animi veritatis consequatur.',
                        image: '/storage/posts/post4.jpg',
                        created_at: '2019-01-29 10:53',
                        updated_at: '2019-01-29 10:53',
                        width: '100%'
                    },
                    {
                        id: 5,
                        title: 'Post 5',
                        excerpt: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magni vel aliquid repellendus, maiores tempora perspiciatis libero, saepe temporibus, neque voluptate fugiat necessitatibus quasi ullam accusamus totam animi veritatis consequatur.',
                        image: '/storage/posts/post1.jpg',
                        created_at: '2019-01-29 10:53',
                        updated_at: '2019-01-29 10:53',
                        width: '100%'
                    }
                ]
            };
        },
        mounted() {
            console.log('LastestNews mounted.')
        },
        methods: {
            hello($event) {
                console.log($event);
            }
        }
    }
</script>