<template>
  <div class="stats-grid">
    <vue-good-table
      :columns="columns"
      :rows="rows"/>
  </div>
</template>

<script>
    import { VueGoodTable } from 'vue-good-table';

export default {
  name: 'statGrid',
  components: {
      VueGoodTable,
    },
  data(){
    return {
      columns: [
        {
            label: 'Nom',
            field: 'name',
            sortable: true,
            html: true,
            filterOptions: {
                enabled: true, // enable filter for this column
                placeholder: 'Filtrer par nom', // placeholder for filter input
                filterValue: '', // initial populated value for this filter
                filterDropdownItems: [], // dropdown (with selected values) instead of text input
                trigger: 'enter', //only trigger on enter not on keyup 
            }
        },
        {
            label: 'MJ',
            field: 'gp',
            sortable: true,
            type: 'number',
        },
        {
          label: 'B',
          field: 'goals',
          sortable: true,
          type: 'number',
        },
        {
          label: 'P',
          field: 'assists',
          sortable: true,
          type: 'number',
        },
        {
          label: 'PTS',
          field: 'points',
          sortable: true,
          type: 'number',
        },
        {
          label: 'PUN',
          field: 'penaltys',
          sortable: true,
          type: 'number',
        },
        {
          label: 'V',
          field: 'wins',
          sortable: true,
          type: 'number',
        },
        {
          label: 'D',
          field: 'losses',
          sortable: true,
          type: 'number',
        },
        {
          label: 'DP',
          field: 'ot_loss',
          sortable: true,
          type: 'number',
        },
        {
          label: 'N',
          field: 'ties',
          sortable: true,
          type: 'number',
        },
        {
          label: 'PTS/MJ',
          field: 'points_per',
          sortable: true,
          type: 'number',
        },
        // {
        //   label: 'Created On',
        //   field: 'createdAt',
        //   type: 'date',
        //   dateInputFormat: 'YYYY-MM-DD',
        //   dateOutputFormat: 'MMM Do YY',
        // },
      ],
      rows: [
        { id:1, name:'<a href="#">John Doe</a>', gp: 124, goals: 30, assists: 92, points: 122, penaltys: 12, wins: 60, losses: 50, ot_loss: 0, ties: 14, points_per: 0.98 },
        { id:2, name:'<a href="#">Jane Doe</a>', gp: 124, goals: 30, assists: 92, points: 122, penaltys: 12, wins: 60, losses: 50, ot_loss: 0, ties: 14, points_per: 0.98 },
        { id:3, name:'<a href="#">Susan McFerland</a>', gp: 124, goals: 30, assists: 92, points: 122, penaltys: 12, wins: 60, losses: 50, ot_loss: 0, ties: 14, points_per: 0.98 },
        { id:4, name:'<a href="#">Chris DiDominico</a>', gp: 124, goals: 30, assists: 92, points: 122, penaltys: 12, wins: 60, losses: 50, ot_loss: 0, ties: 14, points_per: 0.98 },
        { id:5, name:'<a href="#">Dan Larue-Saint-Jacques</a>', gp: 124, goals: 30, assists: 92, points: 122, penaltys: 12, wins: 60, losses: 50, ot_loss: 0, ties: 14, points_per: 0.98},
        { id:6, name:'<a href="#">John Moi L\'Exemple</a>', gp: 124, goals: 30, assists: 92, points: 122, penaltys: 12, wins: 60, losses: 50, ot_loss: 0, ties: 14, points_per: 0.98 },
      ],
    };
  },
};
</script>
