<template>
	<div class="data-entry-form data-entry-form__holder">
		<div class="col-lg-12">
			<div class="data-entry-form__header clearfix">
				<h3>Assignation des joueurs</h3>
				<ul class="actions-list">
					<li>
						<button @click="submit" class="btn btn-success">Enregistrer</button>
					</li>
					<li><button class="btn btn-danger" @click="close"><span class="glyphicon glyphicon-remove"></span> Annuler</button></li>
				</ul>
			</div>
			<form @submit.prevent="submit" class="assign-player">
				<div class="col-md-6 no-pl no-pr">
					<h4>Liste des joueurs disponibles</h4>
					<vue-good-table
						mode="remote"
					  	@on-page-change="onPageChange"
				  		@on-sort-change="onSortChange"
					  	@on-column-filter="onColumnFilter"
					  	@on-per-page-change="onPerPageChange"
					  	:totalRows="totalRecords"
					  	:isLoading.sync="isLoading"
					  	:sort-options="sortingOpts"
					  	:pagination-options="paginationOpts"
						:columns="columns"
						:rows="players">
						<template slot="table-row" slot-scope="props">
						    <ul class="actions-list" v-if="props.column.field == 'after'">
								<li>
									<button type="button" @click="assignPlayer(props.row)" title="Assigner en tant que joueur" class="btn btn-success" :disabled="props.row.selected">
										Joueur
									</button>
								</li>
								<li>
									<button type="button" @click="assignPlayer(props.row, true)" title="Assigner en tant que gardien" class="btn btn-success" :disabled="props.row.selected">
										Gardien
									</button>
								</li>
						    </ul>
						</template>
					</vue-good-table>
				</div>
				<div class="col-md-6">
					<h4>Joueurs assignés</h4>
					<div class="message-box error" v-if="errorDisplayed">
						{{ currentError }}
						<button type="button" @click="closeError"><span class="glyphicon glyphicon-remove"></span>Fermer</button>
					</div>
					<div v-if="selectedPlayers.length > 0" class="max-height-container max-height-container__tall">
						<ul class="assigned-players">
							<li v-for="player in selectedPlayers">
								{{player.first_name}} {{player.last_name}} <span v-if="player.is_goalie">( Gardien )</span>
								<ul class="actions-list">
									<li>
										<button type="button" class="btn btn-danger" @click="deassignPlayer(player)"> Retirer </button>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div v-else>
						Aucun joueur n'est assigné
					</div>
				</div>
			</form>
		</div>
	</div>
</template>
<script>
	import 'vue-good-table/dist/vue-good-table.css'
	import { VueGoodTable } from 'vue-good-table';
	export default {
		created() {
			this.maxPlayerAssigned = this.maxPlayers;
			this.maxGoalieAssigned = this.maxGoalies;
			this.selectedPlayers = this.players;
			this.fetchPlayers();
		},
		components: {
			VueGoodTable
		},
		props: {
			maxPlayers: {
				type: Number,
				default: 10,
				required: true
			},
			maxGoalies: {
				type: Number,
				default: 2,
				required: true
			},
			players: {
				type: Array,
				default: []
			}
		},
		data: function() {
			return {
				players: [],
				selectedPlayers: [],
				errors: {
					'player': "Vous avez atteint la limite maximale d'assignation de joueur",
					'goalie': "Vous avez atteint la limite maximale d'assignation de gardien"
				},
				errorDisplayed: false,
				currentError: "",
				maxPlayerAssigned: null,
				maxGoalieAssigned: null,
				columns: [
					{
						label: 'Prénom',
						field: 'first_name',
						filterOptions: {
							enabled: true
						}
					},
					{
						label: 'Nom',
						field: 'last_name',
						filterOptions: {
							enabled: true
						}
					},
					{
						label: 'Actions',
						field: 'after',
						sortable: false
					},
				],
				isLoading: false,
				paginationOpts: {
				    enabled: true,
				    perPage: 15,
				    perPageDropdown: [5,10,15,20],
				    nextLabel: 'Suivante',
				    prevLabel: 'Précédente',
				    rowsPerPageLabel: 'Ligues par page',
				},
				sortingOpts: {
				    enabled: true
				},
				totalRecords: 0,
				serverParams: {
					columnFilters: {},
					sort: {},
					page: 1,
					perPage: 15
			    }
			}
		},
		methods: {
			assignPlayer: function(cPlayer, isGoalie) {
				// trouve l'index du joueur dans les joueurs affichés
				var index = this.players.findIndex(player => player.id == cPlayer.id);
				var newValue;
				// ajoute ou modifie la propriété is_goalie à l'objet player avant de l'ajouter à la liste des joueurs assigné
				if(isGoalie) {
					newValue = Object.assign({}, cPlayer, {pivot:{is_goalie: true}});
				} else {
					newValue = Object.assign({}, cPlayer, {pivot:{is_goalie: false}});
				}
				cPlayer = this.$set(this.players, index, newValue);

				if(this.validateUpdate(cPlayer)) {
					this.selectedPlayers.push(cPlayer);
				}

				this.compareLists();
			},
			close: function() {
				this.$emit('closeAssignPlayers');
			},
			closeError: function() {
				this.currentError = "";
				this.errorDisplayed = false;
			},
			compareLists: function(id) {
				var index;
				
				if(id !== undefined) {
					index= this.players.findIndex(player => player.id == id);
					var newValue = Object.assign({}, this.players[index], {selected: false});
					this.$set(this.players, index, newValue);
				} else {
					for(var i in this.selectedPlayers) {
						var sPlayer = this.selectedPlayers[i];
						index = this.players.findIndex(player => player.id == sPlayer.id);
						var newValue = Object.assign({}, this.players[index], {selected: true});
						this.$set(this.players, index, newValue);
					}
				}
			},
			displayAssignError: function(errorKey) {
				this.currentError = this.errors[errorKey];
				this.errorDisplayed = true;
			},
			deassignPlayer: function(removedPlayer) {
				this.selectedPlayers = this.selectedPlayers.filter(aPlayer => aPlayer.id != removedPlayer.id);
				this.compareLists(removedPlayer.id);
			},
			fetchPlayers: function() {
				this.isLoading = true;
				axios.get('/api/players', { params: this.serverParams})
					.then(response => {
						this.handleResponse(response.data);
					})
					.catch(error => {
						console.log(error);
					});
			},
			handleResponse: function(response) {
				var data = Object.values(response.data);
				var handledData = [];

				for(var i in data) {
					var item = data[i];
					handledData.push(item);
				}

				this.players = handledData;
				this.compareLists();
			 	this.totalRecords = response.total
			 	this.isLoading = false;
			},
			submit: function() {
				this.$emit('updatePlayers', this.selectedPlayers);
				this.close();
			},

			updateParams(newProps) {
		      	this.serverParams = Object.assign({}, this.serverParams, newProps);
		    },
		    
		    onPageChange(params) {
				this.updateParams({page: params.currentPage});
				this.fetchPlayers();
		    },

		    onPerPageChange(params) {
				this.updateParams({perPage: params.currentPerPage});
				this.fetchPlayers();
		    },

		    onSortChange(params) {
				this.updateParams({
					sort: {
						type: params[0].type,
						field: params[0].field,
					},
					page: 1,
				});
				this.fetchPlayers();
		    },
		    
		    onColumnFilter(params) {
				this.updateParams(params);
				this.fetchPlayers();
    		},

    		validateUpdate: function(player) {
    			var goaliesArr = this.selectedPlayers.filter(player => player.pivot.is_goalie == true);
    			var playersArr = this.selectedPlayers.filter(player => player.pivot.is_goalie == false || player.pivot.is_goalie == undefined);

    			if(goaliesArr.length >= this.maxGoalieAssigned && player.pivot.is_goalie == true) {
    				this.displayAssignError('goalie');
    				return false;
    			}

    			if(playersArr.length >= this.maxPlayerAssigned && player.pivot.is_goalie == false || player.pivot.is_goalie == undefined) {
    				this.displayAssignError('player');
    				return false;
    			}

    			return true;
    		}
		}
	}
</script>