.blocks-list {
	background-color: $white;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);

	&.ign-padding {
		margin-left: -15px;
		margin-right: -15px;
	}

	 > .block {
		border-bottom: 2px solid $alto;
		padding: 15px;

		img {
			height: auto;
			width: 100%;
		}
	}
}