.block {
	.block__header {
		background-color: $mineshaft;
		color: $white;
		margin: -15px -15px 25px -15px;
		padding: 15px;

		h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
			margin: 0;
		}
	}

	.block__title {
		font-size: 20px;
		font-weight: bold;
	}
	.block__content {}
	.block__footer {}

	&.no-bd {
		border: none;
	}

	&.main {
		
	}
}