.data-entry-form {
	position: absolute;
	top: 0;
	left: 0;
	background-color: $white;
	height: 100%;
	width: 100%;
	z-index: 4;
}

.data-entry-form__header {
	border-bottom: 1px solid $alto;
	margin-bottom: 15px;

	> button {
		margin-left: 10px;
		margin-bottom: 15px;
	}

	h3, h4 {
		display: inline-block;
	}

	&:not(:first-child) {
		margin-top: 15px;
	}

	.actions-list {
		float: right;
		margin-bottom: 15px;
		margin-top: 22px;

		&.no-mt { margin-top: 0; }
	}

	.message-box {
		display: block;
		width: 100%;
	}
}

.data-entry-form__footer {
	border-top: 1px solid $alto;
	margin-top: 10px;
}