form .no-pr {
	padding-right: 0;
}

form .no-pl {
	padding-left: 0;
}

textarea {
	height: 75px;
	width: 100%;
}

.control-label.block {
	display: block;
}

.form-group .control-label:nth-child(3) {
	margin-top: 10px;
}


.form-horizontal .control-label.no-pt {
	padding-top: 0;
}

.form-horizontal .radio-label {
	position: relative;
	padding-left: 40px;
	input {
		position: absolute;
		left: 17px;
	}
}

.form-horizontal .check-label {
	position: relative;
	padding-left: 20px;
	input {
		position: absolute;
		left: 0px;
	}
}

.assign-player .btn {
	padding: 5px 9px;
}

.assign-player .assigned-players .actions-list {
	display: inline-block;
}

/**************************************** NOTICE ************************************************/
/* Tout est !important parce que les styles sont inclus dans les components qui sont pas de moi */
/************************************************************************************************/
.vue__time-picker {
	display: block !important;
	width: 100% !important;
}

.vdp-datepicker header {
	padding: 0 !important;

	.prev,
	.day__month_btn,
	.next {
		background-color: $mineshaft !important;
		color: $white !important;

		&:focus,
		&:hover {
			background-color: $curious-blue !important;
		}
	}
}

.vdp-datepicker input,
.time-picker input.display-time {
	border: 1px solid #ccd0d2 !important;
	border-radius: 4px !important;
	height: 36px !important;
	padding: 6px 12px !important;
	width: 100% !important;
}

