/* last five games component */

.last-five {
    background-color: $alto;
    min-height: 113px;
    width: 100%;

    ul {
    	display: flex;
    	margin: 0;
	    padding: 0;
	}

	.container {
		position: relative;
	}

	.loading-overlay {
		background-color: $alto;
		top: 0;
		height: 113px;

		.spinner {
			height: 50px;
			width: 50px;
			left: calc(50% - 25px);
  			top: calc(50% - 25px);
		}

		.spinner div{
			height: 50px;
			width: 50px;
			top: 0;
			left: 0;
			transform-origin: 25px 25px;
		}
	}

	.last-five_item {
		background-color: $white;
		border-left: 1px solid $alto;
		box-sizing: border-box;
	    display: block;
	    padding: 5px;
	    position: relative;
	    text-decoration: none;
	    width: 20%;

	    &:hover {
	    	position: relative;

	    	a {
	    		background-color: rgba(48, 151, 209, 0.65);
	    		// rgba(51, 51, 51, 0.7)
	    		color: $white;
	    		font-size: 30px;
	    		display: table-cell;
	    		height: 100%;
	    		left: 0;
	    		position: absolute;
	    		text-align: center;
	    		text-decoration: none;
	    		text-transform: uppercase;
	    		top: 0;
	    		vertical-align: middle;
	    		width: 100%;

	    		&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
					margin-right: -0.25em;
	    		}

	    		span {
	    			display: inline-block;
	    			transform: rotateZ(-5deg);
	    		}
	    	}
	    }

	    &:last-child { border-right: 1px solid $alto; }

	    a {
	    	display: none;
	    }
	}

	.last-five_infos {
		line-height: 1.2em;
		margin-bottom: 5px;
		small {
			display: block;
			font-size: 0.8em;
		}
	}

	.last-five_scores {
		text-align: center;
		width: 100%;
		td, th { width: 50%; }
		th { text-align: center; }
	}
}