/* latest-news styles */

.latest-news {
	background-color: $white;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
	margin-bottom: 20px;
	margin-left: -15px;
	margin-right: -15px;
}

.latest-news .v-carousel {
	overflow: hidden;
	position: relative;
	width: 100%;

	img {
		height: auto;
		width: 100%;
	}

	.v-carousel-item {
		float: left;
	}

	.v-carousel-item-content {
		padding: 15px;
	}

	.v-carousel-nav {
		background: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		color: $white;
		cursor: pointer;
		display: block;
		line-height: 40px;
		position: absolute;
		text-align: center;
		top: calc(35% - 20px);
		width: 40px;
		z-index: 2;

		&:focus,
		&:hover {
			box-shadow: 0 2px 3px rgba(255, 255, 255, 0.7);
		}

		&.prev {
			left: 5%;
		}

		&.next {
			right: 5%;
		}
	}

	.v-carousel-dots {
		background: rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		position: absolute;
		right: 5%;
		top: 20px;
	}

	.v-carousel-dot {
		background: rgba(0, 0, 0, 0.5);
		border-radius: 5px;
		cursor: pointer;
		display: inline-block;
		height: 10px;
		margin: 0 5px;
		width: 10px;

		&.active {
			background-color: $curious-blue;
			cursor: default;
		}
	}
}