.message-box {
	margin-bottom: 10px;
	padding: 10px;

	> button {
		float: right;
	}
}

.message-box.error {
	background-color: $bg-error;
	border: 1px solid $error-font;
	color: $error-font;
}

.message-box.success {
	background-color: $bg-success;
	border: 1px solid $success-font;
	color: $success-font;
}

.help-block {
	display: block;
}

.help-block.error {
	color: $error-font;
}