/* main nav */
.main-nav, .user-nav, .admin-menu {
    display: block;
    margin: 0;
    /*padding: 0;*/
}

.dropdown-menu > li > span {
    color: #333;
}

.main-nav {
    float: left;
    font-size: 16px;
}

.user-nav, .admin-menu {
    float: right;
}

.main-nav li, 
.user-nav li, 
.admin-menu li,
.footer-nav li {
    display: inline-block;
    line-height: 40px;
    margin-left: 15px;
    text-decoration: none;
}

.admin-menu li {
    line-height: 33px;
}

.main-nav li a, 
.user-nav li a, 
.admin-menu li a,
.footer-nav li a {
    color: white;
}

.footer-nav {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 25px;
    padding: 0;

    li {
        margin-left: 25px;

        &:first-child {
            margin-left: 0;
        }
    }
}