/* pub-top-container styles */
.pub-top-container {
    margin: 20px 0;

    a {
        display: block;
        margin: 0 auto;
        max-width: 728px;
    }
}

/* pub top sidebar styles */

.pub-top-sidebar, .pub-second-sidebar {
	margin: 0 0 20px 0;

	a img {
        display: block;
        margin: 0 auto;
        max-width: 320px;
	}
}