.sub-page {
	position: relative;
}

.main-col .dashboard-panel .block >.row.seasonFormOpened {
	min-height: 1400px;
}

.sub-page__header {
	margin-bottom: 15px;
	padding-bottom: 15px;

	h3 {
		margin-top: 0;
		margin-right: 15px;
	}

	> * {
		display: inline-block;
	}

	.message-box {
		display: block;
		width: 100%;
	}
}