.vgt-table {
	width: 100%;

	tr {
		border-bottom: 1px solid $alto;
		
		.filter-th {
			background-color: $mineshaft;
		}
	}

	th {
		color: $curious-blue;

		&.sorting-asc span:after {
			content: "\E253";
			display: inline-block;
			font-family: "Glyphicons Halflings";
			font-size: 10px;
			line-height: 16px;
			margin-left: 5px;
		}

		&.sorting-desc span:after {
			content: "\E252";
			display: inline-block;
			font-family: "Glyphicons Halflings";
			font-size: 10px;
			line-height: 16px;
			margin-left: 5px
		}
	}

	td, th {
		padding: 5px 0 5px 5px;
	}

	tbody {
		tr {
			&:nth-child(odd) {
				background-color: $catskill-white;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
}