<template>
	<div>
		<div class="loading-overlay" v-if="isLogguedIn && !isUserLoaded">
			<div class="spinner">
				<div></div>
			</div>
		</div>
		<div class="wrapper container" v-else-if="layout.hasSidebar && !layout.isAdmin">
	        <div class="pub-top-container">
	            <a href="http://placeholder.com" target="_blank">
	                <img src="https://via.placeholder.com/728x90?text=728x90+Leaderboard" alt="pub">
	            </a>
	        </div>
	        <div class="col-lg-8 main-col" >
	        	<transition>
	        		<router-view v-on:layoutSet="onLayoutSet"></router-view>
	        	</transition>	
	        </div>
	    
	        <div class="col-lg-4">
	            <div class="pub-top-sidebar">
	                <a href="http://placeholder.com" target="_blank"><img src="https://via.placeholder.com/325x250?text=325x250+MPU" alt="pub carrée"></a>
	            </div>

	            <div class="pub-second-sidebar">
	                <a href="http://placeholder.com" target="_blank"><img src="https://via.placeholder.com/325x250?text=325x250+MPU" alt="pub carrée"></a>
	            </div>
	        </div>
	    </div>

	    <div class="wrapper container" v-else-if="layout.hasSidebar || layout.isAdmin">
	        <div class="col-lg-12 main-col" >
	        	<transition>
	        		<router-view v-on:layoutSet="onLayoutSet"></router-view>
	        	</transition>	
	        </div>
	    </div>
    </div>
</template>

<script>

	export default {
		created() {
			if(!this.isUserLoaded) {
				this.$store.dispatch('retrieveUserInfos')
			}
		},
    	computed: {
    		isUserAdmin() {
				return this.$store.getters.isUserAdmin;
			},
			isLogguedIn() {
				return this.$store.getters.loggedIn;
			},
			isUserLoaded() {
				return this.$store.getters.userLoaded;
			}
    	},

		data: () => {
			return {
				loading: false,
				layout: {
					hasSidebar: true,
					isAdmin: false
				},
			};
		},
		methods: {
			onLayoutSet: function(value) {
				if(value !== undefined) {
					this.layout = Object.assign(this.layout, value);
				}
			}
		},
		watch: {
			$route: function() {
				if(this.isLogguedIn && !this.isUserLoaded) {
					this.$store.dispatch('retrieveUserInfos')
				}
			},
			isUserLoaded: function() {
				if(!this.isLogguedIn) {
					this.loading = false;
				}
			}
		}
	}
</script>