<template>
	<div class="balance-block block" v-if="!loading">
		<div class="block__title">Ta Balance:</div>
		<div class="block__content">
			<p class="amount" v-bind:class="userBalanceClass">{{ userBalance }}</p>
		</div>
		<div class="block__footer">
			<a href="/dashboard/solde" class="btn btn-primary">Détails</a>
			<a v-on:click="callOpenPayment" class="btn btn-default">Faire un paiement</a>
		</div>
	</div>
	<div class="loading" v-else>
		LOADING...
	</div>
</template>
<script>
	export default {
		created() {
			this.loading = true;
			if(this.userBalance !== undefined) {
				this.loading = false;
				this.$emit('bbLoaded');
			}
		},
		computed: {
			 userBalanceClass: function() {
                return (parseInt(this.userBalance) > 0 ) ? 'debt' : 'cred';
            },
            userBalance: function() {
                return this.$store.getters.userBalance;
            }
		},
		data() {
			return {
				loading: false
			};
		},
		methods: {
			callOpenPayment: function(event) {
				this.$emit('openPayment');
			}
		},
		watch: {
			userBalance: function() {
				this.loading = false;
            	this.$emit('bbLoaded');
			}
		}
	}
</script>