<template>
	<div class="games-history-block block">
		<div class="block__title">
			Tes derniers matchs
		</div>
		<div class="loading">
			<!-- errors -->
		</div>
		<div class="block__content">
			<ul class="games-list" v-if="this.list.length > 0">
				<li v-for="(i, index) in list">
					{{i.game.date}} ({{i.game.game_start}}) - {{i.arena}}
				</li>
			</ul>
			<p v-else>
				Aucun match joué
			</p>
		</div>
		<div class="block__footer">
			<a href="#" class="btn btn-primary">Liste complète</a>
		</div>
	</div>
	
</template>
<script>
	export default {
		mounted() {
			if(this.$store.getters.userLoaded) {
				this.fetchLastFiveGames();
			}
		},
		computed: {
			userToken: function() {
				return this.$store.getters.token;
			},
			userPlayerId: function() {
				return this.$store.getters.userPlayerId;
			},
		},
		data() {
			return {
				loading: true,
				list: [],
			};
		},
		methods: {
			fetchLastFiveGames: function() {
				this.loading = true;
				axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.userToken;
				axios.get('/api/' + this.userPlayerId +'/last-five')
					 .then(response => {
					 	this.loading = false;
					 	this.list = response.data;
					 	this.$emit('ghbLoaded');
					 })
					 .catch(error => {
					 	this.loading = false;
					 	this.$emit('ghbLoaded');
					 	console.log(error);
					 });
			}
		},
		watch: {
			userPlayerId() {
				this.fetchLastFiveGames();
			}
		}
	}
</script>