<template>
	<div class="schedule-block block" v-if="!loading">
		<div class="block__title">Ton horaire</div>
		<div class="block__content">
			<ul class="games-list" v-if="this.list.length > 0">
				<li v-for="(i, index) in list">{{i.date}} ({{i.hour}}) - {{i.arena}} </li>
			</ul>
			<p v-else>
				Pas de match à venir...
			</p>
		</div>
		<div class="block__footer">
			<router-link :to="{ name: 'horaire'}" class="btn btn-default">Horaire complet</router-link>
		</div>
	</div>
	<div class="loading" v-else>
		LOADING...
	</div>
</template>
<script>
	export default {
		name: 'ScheduleBlock',
		created: function() {
			this.loading = true;
		},
		data() {
			return {
				loading: false,
				list: [{
					arena: 'Aréna Olivier Ford',
					date: 'Jeudi 14 fév.',
					hour: '22:00',
				},
				{
					arena: '4 Glaces',
					date: 'Dimanche 17 fév.',
					hour: '19:00',
				},
				{
					arena: 'Aréna Olivier Ford',
					date: 'Jeudi 21 fév.',
					hour: '22:00',
				},
				{
					arena: '4 Glaces',
					date: 'Dimanche 24 fév.',
					hour: '19:00',
				},
				{
					arena: 'Aréna Olivier Ford',
					date: 'Jeudi 25 fév.',
					hour: '22:00',
				}],
			};
		},
		mounted() {
			console.log('ScheduleBlock ready');
		}
	}
</script>