<template>
	<div class="row">
		<div class="loading" v-if="loading">
			LOADING....
		</div>
		<div :class="messageClass" v-else>
			{{ message }}
			<router-link :to="{ name: 'home'}" class="btn btn-primary">	< Retour à la page d'accueil</router-link>
		</div>
		
	</div>
</template>
<script>
	export default {
		created() {
			this.loading = true;
			this.$store.dispatch('activateUser', this.$route.params)
			.then(response => {
				this.loading = false;
				this.messageClass = response.data.messageClass;
				this.message = response.data.message;
			})
		},
		data() {
			return {
				loading: false,
				messageClass: '',
				message: '' 
			}
		}
	}
</script>