<template>
	<div class="dashboard-panel blocks-list ign-padding">
		
		<div class="block no-bd main">
			<div class="block__header clearfix">
				<h2>Tableau de bord</h2>
				<admin-menu v-if="isUserAdmin"></admin-menu>
			</div>
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
	import AdminMenu from '../menus/AdminMenu';
	export default {
		components: {
			AdminMenu
		},
		mounted() {
			this.$emit('layoutSet', {
				hasSidebar: this.isUserAdmin ? false : true,
				isAdmin: this.isUserAdmin,
			});
		},
		computed: {
			isUserAdmin() {
				return this.$store.getters.isUserAdmin
			}
		}
	}
</script>