<template>
	<latest-news></latest-news>
</template>
<script>
	import LatestNews from '../LatestNews.vue'
	export default {
		created() {

		},
		mounted() {
			this.$emit('layoutSet', {
				hasSidebar: true,
				isAdmin: false
			});
		},
		components: {
			LatestNews,
		}
	}
</script>