<template>
	<div class="login-form">
		<div class="blocks-list ign-padding">
        	<div class="block">
            	<h1>Connexion</h1>

	            <div class="panel-body">
	                <form class="form-horizontal" action="#" @submit.prevent="login">
	                	<div v-if="error != ''" :class="messageClass">
	                		{{ error }}
	                	</div>
	                	<div class="form-group">
	                        <label for="email" class="col-md-4 control-label">Courriel</label>

	                        <div class="col-md-6">
	                            <input id="email" type="email" class="form-control" name="email" v-model="username" value="" required autofocus>
	                        </div>
	                    </div>

	                    <div class="form-group">
	                        <label for="password" class="col-md-4 control-label">Mot de passe</label>

	                        <div class="col-md-6">
	                            <input id="password" type="password" class="form-control" name="password" v-model="password" required>
	                        </div>
	                    </div>

	                    <!-- <div class="form-group">
	                        <div class="col-md-6 col-md-offset-4">
	                            <div class="checkbox">
	                                <label>
	                                    <input type="checkbox" name="remember"> Se souvenir de moi!
	                                </label>
	                            </div>
	                        </div>
	                    </div> -->

	                    <div class="form-group">
	                        <div class="col-md-8 col-md-offset-4">
	                            <button type="submit" class="btn btn-primary">
	                                Se connecter
	                            </button>

	                            <!-- <a class="btn btn-link" href="{{ route('password.request') }}">
	                                Mot de passe oublié?
	                            </a> -->
	                        </div>
	                    </div>
	                </form>
	            </div>
	            <div class="loading-overlay" v-if="loading">
					<div class="spinner">
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'Login',
		data() {
			return {
				username: '',
				password: '',
				error: '',
				messageClass: 'message-box',
				loading: false
			}
		},
		methods: {
			login: function() {
				this.loading = true;
				this.$store.dispatch('retrieveToken', {
					username: this.username,
					password: this.password
				})
				.then(response => {
					this.loading = false;
					this.$router.push({ name: 'dashboard' });
				})
				.catch(error => {
					this.loading = false;
					this.messageClass += ' error';
					this.error = error.response.data;
				});
			}
		}
	}
</script>