<template></template>
<script>
	export default {
		name: 'Logout',
		created: function() {
			this.$store.dispatch('destroyToken')
			.then(response => {
				this.$router.push({ name: 'home' });
			});
		}
	}
</script>