<template>
	<div class="row">
        <div class="blocks-list ign-padding">
        	<div class="block">
            	<h1>Devenir membre</h1>

	            <div class="panel-body">
	                <form v-if="!submitted_success"class="form-horizontal" action="#" @submit.prevent="register">
	                   	<div v-if="errors != 0" class="message-box error">
	                		{{ generic_message }}
	                	</div>
	                    <div class="form-group">
	                        <label for="first_name" class="col-md-4 control-label">Prénom</label>

	                        <div class="col-md-6">
	                            <input id="first_name" type="text" class="form-control" name="first_name" v-model="form_data.first_name" placeholder="Ex: John" required autofocus>
	                                <span v-if="errors.first_name" v-for="err in errors.first_name" :key="err" class="help-block error">
	                                    <strong>{{ err }}</strong>
	                                </span>
	                        </div>
	                    </div>

	                    <div class="form-group">
	                        <label for="last_name" class="col-md-4 control-label">Nom</label>

	                        <div class="col-md-6">
	                            <input id="last_name" type="text" class="form-control" name="last_name" v-model="form_data.last_name" placeholder="Ex: Doe" required >
	                                <span v-if="errors.last_name" v-for="err in errors.last_name" :key="err" class="help-block error">
	                                    <strong>{{ err }}</strong>
	                                </span>
	                        </div>
	                    </div>

						<div class="form-group">
							<label for="favorite_position" class="col-md-4 control-label no-pt">Position favorite</label>
							<label for="centre" class="col-md-6 radio-label">
								<input type="radio" name="favorite_position" id="centre" value="1" v-model="form_data.favorite_position">
								Centre
							</label>

							<label for="aile_gauche" class="col-md-6 col-md-offset-4 radio-label">
								<input type="radio" name="favorite_position" id="aile_gauche" value="2" v-model="form_data.favorite_position">
								Ailier Gauche
							</label>
							<label for="aile_droite" class="col-md-6 col-md-offset-4 radio-label">
								<input type="radio" name="favorite_position" id="aile_droite" value="3" v-model="form_data.favorite_position">
								Ailier Droit
							</label>
							<label for="defenseur" class="col-md-6 col-md-offset-4 radio-label">
								<input type="radio" name="favorite_position" id="defenseur" value="4" v-model="form_data.favorite_position">
								Défenseur
							</label>
							<label for="gardien" class="col-md-6 col-md-offset-4 radio-label">
								<input type="radio" name="favorite_position" id="gardien" value="5" v-model="form_data.favorite_position"> 
								Gardien
							</label>
							<span v-if="errors.favorite_position" v-for="err in errors.favorite_position" :key="err" class="help-block error col-md-6 col-md-offset-4 radio-label">
                                <strong>{{ err }}</strong>
                            </span>
						</div>

	                    <div class="form-group">
	                        <label for="phone" class="col-md-4 control-label">Téléphone</label>

	                        <div class="col-md-6">
	                            <input id="phone" type="tel" class="form-control" name="phone" v-model="form_data.phone" placeholder="Ex: 555-555-5555" required>
	                                <span v-if="errors.phone" class="help-block error" v-for="err in errors.phone" :key="err">
	                                    <strong>{{ err }}</strong>
	                                </span>
	                        </div>
	                    </div>

	                    <div class="form-group">
	                        <label for="emergency_contact_name" class="col-md-4 control-label">Nom du contact d'urgence</label>

	                        <div class="col-md-6">
	                            <input id="emergency_contact_name" type="text" class="form-control" name="emergency_contact_name" v-model="form_data.emergency_contact_name" placeholder="Ex: Personne Urgence" required>
	                                <span v-if="errors.emergency_contact_name" class="help-block error" v-for="err in errors.emergency_contact_name" :key="err">
	                                    <strong>{{ err }}</strong>
	                                </span>
	                        </div>
	                    </div>

	                    <div class="form-group">
	                        <label for="emergency_contact_phone" class="col-md-4 control-label">Téléphone du contact d'urgence</label>

	                        <div class="col-md-6">
	                            <input id="emergency_contact_phone" type="text" class="form-control" name="emergency_contact_phone" v-model="form_data.emergency_contact_phone" placeholder="Ex: 555-555-5555" required>
	                                <span v-if="errors.emergency_contact_phone" v-for="err in errors.emergency_contact_phone" :key="err" class="help-block error">
	                                    <strong>{{ err }}</strong>
	                                </span>
	                        </div>
	                    </div>

	                    <div class="form-group">
	                        <label for="address" class="col-md-4 control-label">Adresse</label>

	                        <div class="col-md-6">
	                            <input id="address" type="tel" class="form-control" name="address" v-model="form_data.address" placeholder="Ex: 123 rue des Exemples" required>
	                                <span v-if="errors.address" class="help-block error" v-for="err in errors.address" :key="err">
	                                    <strong>{{ err }}</strong>
	                                </span>
	                        </div>
	                    </div>

	                    <div class="form-group">
	                        <label for="city" class="col-md-4 control-label">Ville</label>

	                        <div class="col-md-6">
	                            <input id="city" type="text" class="form-control" name="city" v-model="form_data.city" placeholder="Ex: Exempleville" required>

	                                <span v-if="errors.city" class="help-block error" v-for="err in errors.city" :key="err">
	                                    <strong>{{ err }}</strong>
	                                </span>
	                        </div>
	                    </div>

	                    <div class="form-group">
	                        <label for="zipcode" class="col-md-4 control-label">Code postal</label>

	                        <div class="col-md-6">
	                            <input id="zipcode" type="text" class="form-control" name="zipcode" v-model="form_data.zipcode" placeholder="Ex: G1Q 1Q9" required>
	                                <span v-if="errors.zipcode" class="help-block error" v-for="err in errors.zipcode" :key="err">
	                                    <strong>{{ err }}</strong>
	                                </span>
	                        </div>
	                    </div>

	                    <div class="form-group">
	                        <label for="email" class="col-md-4 control-label">Courriel</label>

	                        <div class="col-md-6">
	                            <input id="email" type="text" class="form-control" name="email" v-model="form_data.email" placeholder="Ex: john.doe@exemple.com" required>
	                                <span v-if="errors.email" class="help-block error" v-for="err in errors.email" :key="err">
	                                    <strong>{{ err }}</strong>
	                                </span>
	                        </div>
	                    </div>

	                    <div class="form-group">
	                        <label for="password" class="col-md-4 control-label">Mot de passe</label>

	                        <div class="col-md-6">
	                            <input id="password" type="password" class="form-control" name="password" v-model="form_data.password" placeholder="Ex: m0tD3pas5e" required>
	                                <span v-if="errors.password" class="help-block error" v-for="err in errors.password" :key="err">
	                                    <strong>{{ err }}</strong>
	                                </span>
	                        </div>
	                    </div>

	                    <div class="form-group">
	                        <label for="password-confirm" class="col-md-4 control-label">Confirmation du Mot de passe</label>

	                        <div class="col-md-6">
	                            <input id="password-confirm" type="password" class="form-control" name="password_confirmation" v-model="form_data.password_confirmation" placeholder="Ex: m0tD3pas5e" required>
	                        </div>
	                    </div>

	                    <div class="form-group">
	                    	<div class="col-md-6 col-md-offset-4">
		                        <label for="rules" class="control-label check-label">
		                        	<input type="checkbox" name="rules" value="1" v-model="form_data.rules">
		                       		J'accepte les <router-link :to="{ name: 'reglements' }">Règlements de la ligue</router-link>
		                    	</label>
		                    	<span v-if="errors.rules" class="help-block error" v-for="err in errors.rules" :key="err">
		                    		<strong>{{ err }}</strong>
	                            </span>
		                    </div>
	                    </div>

	                    <div class="form-group">
	                    	<div class="col-md-6 col-md-offset-4">
		                    	<label for="rules" class="check-label">
		                        	<input type="checkbox" name="newsletter" value="1" v-model="form_data.newsletter">
		                       		Oui, j’autorise la LHDRS à m’envoyer des nouvelles, des communiqués et autres renseignements à propos de la LHDRS.
		                       	</label>
		                    </div>
	                    </div>

	                    <div class="form-group">
	                        <div class="col-md-6 col-md-offset-4">
	                            <button type="submit" class="btn btn-primary">
	                                Soumettre
	                            </button>
	                        </div>
	                    </div>
	                </form>
	                <div v-if="submitted_success" class="message-box success">
	                	{{ success_message }}
	                	<span class="help-block"><router-link :to="{ name: 'home' }">< Retour à l'accueil</router-link></span> 
	                </div>
	            </div>
	        </div>
        </div>
    </div>
</template>
<script>
	export default {
		data() {
			return {
				form_data: {
					first_name: '',
					last_name: '',
					favorite_position: '',
					phone: '',
					emergency_contact_name: '',
					emergency_contact_phone: '',
					address: '',
					city: '',
					zipcode: '',
					email: '',
					password: '',
					password_confirmation: '',
					rules: 0,
					newsletter: 1,
				},
				errors:[],
				generic_message: "L'information entrée semble contenir des erreurs",
				success_message: '',
				submitted_success: false,
			};
		},
		methods: {
			register: function() {
				this.$store.dispatch('registerUser', this.form_data)
				.then(response => {
					this.success_message = response.data;
					this.submitted_success = true;
				})
				.catch(error => {
					this.errors = error.response.data.errors;
				});
			}
		}
	}
</script>