<template>
	<div class="row sub-page">
		<div class="col-lg-12" >
			<div class="sub-page__header">
				<h3>Pages</h3>
				<button @click="openForm" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Créer une page</button>
				<div v-if="!messageClosed" class="message-box success">
					{{ message }}
					<button class="btn" @click="closeMessage"><span class="glyphicon glyphicon-remove"></span> Fermer</button>
				</div>
			</div>
			<vue-good-table
				mode="remote"
			  	@on-page-change="onPageChange"
		  		@on-sort-change="onSortChange"
			  	@on-column-filter="onColumnFilter"
			  	@on-per-page-change="onPerPageChange"
			  	:totalRows="totalRecords"
			  	:isLoading.sync="isLoading"
			  	:sort-options="sortingOpts"
			  	:pagination-options="paginationOpts" 
				:columns="columns"
				:rows="list">
				<template slot="table-row" slot-scope="props">
				    <ul class="actions-list" v-if="props.column.field == 'after'">
						<li>
							<button @click="openForm(props.row)" title="Éditer ce commentaire" class="btn btn-info">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
						</li>
						<li>
							<button @click="triggerDeletePage(props.row)" title="Supprimer cette page" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash" ></span>
							</button>
						</li>
				    </ul>
				    <span v-else>
				      {{props.formattedRow[props.column.field]}}
				    </span>
				</template>
				<template slot="loadingContent">
					<div class="loading-overlay" v-if="isLoading">
						<div class="spinner">
							<div></div>
						</div>
					</div>
				</template>
			</vue-good-table>
		</div>
		<page-form v-if="formOpened" :comment="selectedComment" v-on:closeForm="closeForm"></page-form>	
	</div>
</template>
<script>
	import CommentForm from "./Form.vue";
	// import the styles
	import 'vue-good-table/dist/vue-good-table.css'
	import { VueGoodTable } from 'vue-good-table';

	export default {
		created() {
			this.fetchComments()
		},
		components: {
			'comment-form': CommentForm,
			VueGoodTable
		},
		data: function() {
			return {
				isLoading: false,
				selectedComment: null,
				formOpened: false,
				message: null,
				messageClosed: true,
				paginationOpts: {
				    enabled: true,
				    perPage: 15,
				    perPageDropdown: [5,10,15,20],
				    nextLabel: 'Suivante',
				    prevLabel: 'Précédente',
				    rowsPerPageLabel: 'Commentaires par page',
				},
				sortingOpts: {
				    enabled: true
				},
				columns: [
					{
						label: 'Actions',
						field: 'after'
					},
				],
				list: [],
				totalRecords: 0,
				serverParams: {
					columnFilters: {},
					sort: {},
					page: 1, 
					perPage: 15
			    }
			};
		},
		methods: {
			displayActive(isActive) {
				return (isActive) ? 'Publié' : 'Non publiée';
			},
			fetchComments: function() {
				this.isLoading = true;
				axios.get('/api/pages', { 'params': this.serverParams })
					 .then(response => {
					 	this.handleResponse(response.data);
					 	// this.list = response.data.data;
					 	this.isLoading = false;
					 })
					 .catch(error => {
					 	console.log(error);
					 });
			},
			handleResponse: function(response) {
				var data = Object.values(response.data);
				var handledData = [];

				data.forEach(function(item) {
					item.published = item.published.formatted;
					handledData.push(item);
				});

				this.list = handledData;
			 	this.totalRecords = response.total
			 	this.isLoading = false;
			},
			triggerDeleteComment: function(id) {
				this.isLoading = true;
				axios.delete('/api/page/' + id + '/delete')
					.then(response => {
						this.setMessage(response.data);
						this.fetchPages();
					})
					.catch(error => {
						console.log(error);
					});
			},
			openForm: function(page) {
				this.selectedPage = (page != undefined) ? page : null;
				this.formOpened = true;
			},
			closeForm: function(message) {
				this.selectedPage = null;
				this.formOpened = false;
				this.setMessage(message);
				this.fetchPages();
			},
			setMessage: function(message) {
				this.messageClosed = (message != undefined) ? false : true;
				this.message = (message != undefined) ? message : null;
			},
			closeMessage: function() {
				this.messageClosed = true;
			},

			updateParams(newProps) {
		      	this.serverParams = Object.assign({}, this.serverParams, newProps);
		    },
		    
		    onPageChange(params) {
				this.updateParams({page: params.currentPage});
				this.fetchPages();
		    },

		    onPerPageChange(params) {
				this.updateParams({perPage: params.currentPerPage});
				this.fetchPages();
		    },

		    onSortChange(params) {
				this.updateParams({
					sort: {
						type: params[0].type,
						field: params[0].field,
					},
					page: 1,
				});
				this.fetchPages();
		    },
		    
		    onColumnFilter(params) {
				this.updateParams(params);
				this.fetchPages();
    		},
		}
	}
</script>