<template>
	<div class="data-entry-form data-entry-form__holder">
		<div class="col-lg-12">
			<div class="data-entry-form__header clearfix">
				<h3>{{ formTitle }}</h3>
				<ul class="actions-list">
					<li><button @click="submit()" class="btn btn-success">Enregistrer</button></li>
					<li><button class="btn btn-danger" @click="closeForm"><span class="glyphicon glyphicon-remove"></span> Annuler</button></li>
				</ul>
			</div>
			<form @submit.prevent="submit">
				<div v-if="errors != ''">
            		{{ errors }}
            	</div>
            	<div class="loading-overlay" v-if="!formReady">
					<div class="spinner">
						<div></div>
					</div>
				</div>
            	<div class="row" v-else>
            		<div class="col-md-6">
            			<div class="form-group clearfix">
		            		<label for="name" class="control-label">Nom de ligue</label>

		                    <div>
		                        <input id="name" type="text" class="form-control" name="name" v-model="modifiedLeague.name" autofocus>
		                    </div>
	                    </div>
            			
	            	</div>
	            	<div class="col-md-6">
	            		<div class="form-group clearfix">
							<label for="status" class="control-label">Status de la ligue</label>
		                    
	                        <select name="status" id="status" class="form-control" v-model="modifiedLeague.status.id">
	                        	<option v-for="status in statuses" :value="status.id">{{ status.name }}</option>
	                        </select>
						</div>
	            	</div>
	            	<div class="col-md-12">
						<div class="form-group" v-if="modifiedLeague.id != null">
							<div class="data-entry-form__header clearfix" >
								<h4>Saisons</h4>
								<ul class="actions-list no-mt">
									<li>
										<button type="button" @click="openSeasonForm( { league_id:modifiedLeague.id } )" class="btn btn-success">
											<span class="glyphicon glyphicon-plus"></span> Créer une  saison
										</button>
									</li>
								</ul>
								<div class="clearfix message-box success" v-if="message != null && messageClosed == false">
									{{ message }}
									<button @click="closeMessage"><span class="glyphicon glyphicon-remove"></span> Fermer</button>
								</div>
							</div>
							<vue-good-table
								mode="remote"
							  	@on-page-change="onPageChange"
						  		@on-sort-change="onSortChange"
							  	@on-column-filter="onColumnFilter"
							  	@on-per-page-change="onPerPageChange"
							  	:totalRows="totalRecords"
							  	:isLoading.sync="seasonsLoading"
							  	:sort-options="sortingOpts"
							  	:pagination-options="paginationOpts" 
								:columns="columns"
								:rows="seasons"
								max-height="8850px"
								v-if="seasons.length > 0">
								<template slot="table-row" slot-scope="props">
								    <ul class="actions-list" v-if="props.column.field == 'after'">
										<li v-if="seasons.length > 1">
											<button @click="increaseSeasonOrder(props.row)" title="Augmenter l'ordre de cette saison" class="btn btn-default">
												<span class="glyphicon glyphicon-arrow-up"></span>
											</button>
										</li>
										<li v-if="seasons.length > 1">
											<button @click="decreaseSeasonOrder(props.row)" title="Diminuer l'ordre cette saison" class="btn btn-default">
												<span class="glyphicon glyphicon-arrow-down" ></span>
											</button>
										</li>
										<li>
											<button type="button" @click="openSeasonForm(props.row)" title="" class="btn btn-info">
												<span class="glyphicon glyphicon-edit"></span>
											</button>
										</li>
										<li>
											<button type="button" @click="triggerSeasonDelete(props.row)" title="" class="btn btn-danger">
												<span class="glyphicon glyphicon-trash" ></span> 
											</button>
										</li>
								    </ul>
								    <span v-else>
								      {{props.formattedRow[props.column.field]}}
								    </span>
								</template>
								<template slot="loadingContent">
									<div class="loading-overlay" v-if="seasonsLoading">
										<div class="spinner">
											<div></div>
										</div>
									</div>
								</template>
							</vue-good-table>
							<!-- <table class="vgt-table bordered" >
								<thead>
									<th>Nom</th>
									<th>Actions</th>
								</thead>
								<tbody>
									<tr v-for="(season, index) in seasons">
										<td>{{season.name}}</td>
										<td>
											<ul class="actions-list">
												<li v-if="seasons.length > 1">
													<button @click="increaseSeasonOrder(season)" title="Augmenter l'ordre de cette saison" class="btn btn-default">
														<span class="glyphicon glyphicon-arrow-up"></span>
													</button>
												</li>
												<li v-if="seasons.length > 1">
													<button @click="decreaseSeasonOrder(season)" title="Diminuer l'ordre cette saison" class="btn btn-default">
														<span class="glyphicon glyphicon-arrow-down" ></span>
													</button>
												</li>
												<li>
													<button type="button" @click="openSeasonForm(season)" title="" class="btn btn-info">
														<span class="glyphicon glyphicon-edit"></span>
													</button>
												</li>
												<li>
													<button type="button" @click="triggerSeasonDelete(season)" title="" class="btn btn-danger">
														<span class="glyphicon glyphicon-trash" ></span> 
													</button>
												</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table> -->
						</div>
					</div>
            	</div>
				<!-- <div class="data-entry-form__footer ">
					<div class="col-lg-12 no-pl clearfix">
						
					</div>
				</div> -->
			</form>
		</div>
	</div>
</template>
<script>
	import {eventBus} from "../../../../app";
		// import the styles
	import 'vue-good-table/dist/vue-good-table.css'
	import { VueGoodTable } from 'vue-good-table';
	export default {
		created() {
			this.fetchStatuses();
			this.modifiedLeague = Object.assign(this.modifiedLeague, this.league);
			this.fetchSeasons();

			eventBus.$on('refreshLeague', (event)=> {
				this.fetchSeasons();
			});
		},
		props: ['league'],
		components: {
			VueGoodTable
        },
        computed: {
        	formTitle: function() {
        		return (this.modifiedLeague.id !== null) ? 'Éditer la ligue: ' + this.league.name : "Création d'une ligue";
        	},
        	formReady: function() {
        		return !this.seasonsLoading && !this.statusesLoading && !this.typesLoading;
        	}
        },
		data: function() {
			return {
				modifiedLeague: {
					id: null,
					name:"",
					publicity_home: null,
					publicity_away: null,
					status: {
						id: 3
					},
				},
				seasons:[],
				seasonsLoading: false,
				statuses:[],
				statusesLoading: false,
				errors: [],
				message: null,
				messageClosed: true,
				paginationOpts: {
				    enabled: true,
				    perPage: 15,
				    perPageDropdown: [5,10,15,20],
				    nextLabel: 'Suivante',
				    prevLabel: 'Précédente',
				    rowsPerPageLabel: 'Saisons par page',
				},
				sortingOpts: {
				    enabled: true
				},
				columns: [
					{
						label: 'Type',
						field: 'type_display'
					},
					{
						label: 'Nom',
						field: 'name'
					},
					{
						label: 'Aréna',
						field: 'arena_display'
					},
					{
						label: 'Actions',
						field: 'after'
					},
				],
				totalRecords: 0,
				serverParams: {
					columnFilters: {},
					sort: {"type": "desc", "field": "order"},
					page: 1, 
					perPage: 15
			    }
			}
		},
		methods: {
			closeForm: function() {
				this.$emit('closeLeagueForm');
			},
			decreaseSeasonOrder: function(season) {
				this.seasonsLoading = true;
				axios.put('/api/season/' + season.id + '/order/decrease')
					 .then(response => {
					 	this.setMessage(response.data);
					 	this.fetchSeasons();
					 	this.seasonsLoading = false;
					 })
					 .catch(error => {
					 	console.log(error);
					 });
			},
			increaseSeasonOrder: function(season) {
				this.seasonsLoading = true;
				axios.put('/api/season/' + season.id + '/order/increase')
					 .then(response => {
					 	this.setMessage(response.data);
					 	this.fetchSeasons();
					 	this.seasonsLoading = false;
					 })
					 .catch(error => {
					 	console.log(error);
					 });
			},
			triggerSeasonDelete: function(season) {
				this.seasonsLoading = true;
				axios.delete('/api/season/' + season.id + '/delete')
					.then(response => {
						this.setMessage(response.data);
						this.seasonsLoading = false;
						this.fetchSeasons();
					})
					.catch(error => {
						this.seasonsLoading = false;
						console.log(error);
					});
			},
			submit: function() {
				if(this.modifiedLeague.id != null) {
					this.updateLeague()
				} else {
					this.createLeague()
				}
			},
			updateLeague: function() {
				this.simplifyLeague();
				axios.put('/api/league/' + this.modifiedLeague.id + '/update', this.modifiedLeague)
					.then(response => {
						this.$emit('closeLeagueForm', response.data);
					})
					.catch(error => {
						console.log(error);
					});
			},
			createLeague: function() {
				this.simplifyLeague();
				axios.post('/api/league/create', this.modifiedLeague)
					.then(response => {
						this.$emit('closeLeagueForm', response.data);
					})
					.catch(error => {
						console.log(error);
					});
			},
			fetchArenas: function() {
				this.arenasLoading = true;
				axios.get('/api/arenas')
					.then(response => {
						this.arenasLoading = false;
						this.arenas = response.data;
					})
					.catch(error => {
						this.arenasLoading = false;
						console.log(error);
					});
			},
			fetchSeasons: function() {
				this.seasonsLoading = true;
				axios.get('/api/league/' + this.modifiedLeague.id + '/seasons', { 'params': this.serverParams })
					.then(response => {
						this.handleResponse(response);
						// this.seasonsLoading = false;
					})
					.catch(error => {
						console.log(error);
						this.seasonsLoading = false;
					});
			},
			fetchStatuses: function() {
				this.statusesLoading = true;
				axios.get('/api/leagues-statuses/')
					.then(response => {
						this.statuses = response.data;
						this.statusesLoading = false;
					})
					.catch(error => {
						console.log(error);
						this.statusesLoading = false;
					});
			},
			handleResponse: function(response) {
				var data = Object.values(response.data);
				var handledData = [];

				data.forEach(function(item) {
					item.type_display = item.type.name;
					item.arena_display = item.arena.name;
					handledData.push(item);
				});

				this.seasons = handledData;
			 	this.totalRecords = response.total;
			 	this.seasonsLoading = false;
			},
			openSeasonForm: function(season) {
				this.$emit('openSeasonForm', season);
			},
			simplifyLeague: function() {
				this.modifiedLeague.type = (typeof this.modifiedLeague.type === 'object') ? this.modifiedLeague.type.id : this.modifiedLeague.type;
				this.modifiedLeague.status = (typeof this.modifiedLeague.status === 'object') ? this.modifiedLeague.status.id : this.modifiedLeague.status;
			},
			setMessage: function(message) {
				this.messageClosed = (message != undefined) ? false : true;
				this.message = (message != undefined) ? message : null;
			},
			closeMessage: function() {
				this.messageClosed = true;
			},
			updateParams(newProps) {
		      	this.serverParams = Object.assign({}, this.serverParams, newProps);
		    },
		    
		    onPageChange(params) {
				this.updateParams({page: params.currentPage});
				this.fetchLeagues();
		    },

		    onPerPageChange(params) {
				this.updateParams({perPage: params.currentPerPage});
				this.fetchLeagues();
		    },

		    onSortChange(params) {
				this.updateParams({
					sort: {
						type: params[0].type,
						field: params[0].field,
					},
					page: 1,
				});
				this.fetchLeagues();
		    },
		    
		    onColumnFilter(params) {
				this.updateParams(params);
				this.fetchLeagues();
    		},
		}
	}
</script>