<template>
	<div class="row sub-page" v-bind:class="{seasonFormOpened : seasonFormOpened}"">
		<div class="col-lg-12" >
			<div class="sub-page__header">
				<h3>Ligues</h3>
				<button @click="openLeagueForm" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Créer une ligue</button>
				<div v-if="!messageClosed" class="message-box clearfix" :class="message.class">
					{{ message.body }}
					<button class="btn" @click="closeMessage"><span class="glyphicon glyphicon-remove"></span> Fermer</button>
				</div>
			</div>
			<vue-good-table
				mode="remote"
			  	@on-page-change="onPageChange"
		  		@on-sort-change="onSortChange"
			  	@on-column-filter="onColumnFilter"
			  	@on-per-page-change="onPerPageChange"
			  	:totalRows="totalRecords"
			  	:isLoading.sync="isLoading"
			  	:sort-options="sortingOpts"
			  	:pagination-options="paginationOpts" 
				:columns="columns"
				:rows="list">
				<template slot="table-row" slot-scope="props">
				    <ul class="actions-list" v-if="props.column.field == 'after'">
				    	<li>
							<button @click="increaseLeagueOrder(props.row)" title="Augmenter l'ordre de cette ligue" class="btn btn-default">
								<span class="glyphicon glyphicon-arrow-up"></span>
							</button>
						</li>
						<li>
							<button @click="decreaseLeagueOrder(props.row)" title="Diminuer l'ordre cette ligue" class="btn btn-default">
								<span class="glyphicon glyphicon-arrow-down" ></span>
							</button>
						</li>
						<li>
							<button @click="openLeagueForm(props.row)" title="Éditer cette ligue" class="btn btn-info">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
						</li>
						<li>
							<button @click="triggerDeleteLeague(props.row)" title="Supprimer cette ligue" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash" ></span>
							</button>
						</li>
						
				    </ul>
				    <span v-else>
				      {{props.formattedRow[props.column.field]}}
				    </span>
				</template>
				<template slot="loadingContent">
					<div class="loading-overlay" v-if="isLoading">
						<div class="spinner">
							<div></div>
						</div>
					</div>
				</template>
			</vue-good-table>
		</div>
		<league-form v-if="leagueFormOpened" :league="selectedLeague" v-on:closeLeagueForm="closeLeagueForm" v-on:openSeasonForm="seasonFormOpen"></league-form>
		<season-form v-if="seasonFormOpened" :season="selectedSeason" v-on:closeSeasonForm="closeSeasonForm" v-on:gameFormOpen="openGameForm"></season-form>
		<game-form v-if="gameFormOpened" :game-settings="gameFormSettings" v-on:closeGameForm="closeGameForm"></game-form>
	</div>
</template>
<script>
	import GameForm from '../games/Form';
	import LeagueForm from "./Form.vue";
	import SeasonForm from "../seasons/Form.vue";
	import {eventBus} from "../../../../app";
	// import the styles
	import 'vue-good-table/dist/vue-good-table.css'
	import { VueGoodTable } from 'vue-good-table';

	export default {
		created() {
			this.fetchLeagues();
		},
		components: {
			"game-form": GameForm,
			'league-form': LeagueForm,
			'season-form': SeasonForm,
			VueGoodTable
		},
		data: function() {
			return {
				isLoading: true,
				gameFormSettings: {
					game: {id: null},
					arenas: []
				},
				selectedLeague: {
					id: null
				},
				selectedSeason: {
					id: null
				},
				gameFormOpened: false,
				leagueFormOpened: false,
				seasonFormOpened: false,
				message: {
					body: null,
					class: null
				},
				messageClosed: true,
				paginationOpts: {
				    enabled: true,
				    perPage: 15,
				    perPageDropdown: [5,10,15,20],
				    nextLabel: 'Suivante',
				    prevLabel: 'Précédente',
				    rowsPerPageLabel: 'Ligues par page',
				},
				sortingOpts: {
				    enabled: true
				},
				columns: [
					{
						label: 'Nom',
						field: 'name'
					},
					{
						label: 'Créé en',
						field: 'created_at'
					},
					{
						label: 'Actions',
						field: 'after'
					},
				],
				list: [],
				totalRecords: 0,
				serverParams: {
					columnFilters: {},
					sort: {"type": "desc", "field": "leagues_order"},
					page: 1, 
					perPage: 15
			    }
			};
		},
		methods: {
			decreaseLeagueOrder: function(league) {
				this.isLoading = true;
				axios.put('/api/league/' + league.id + '/order/decrease')
					 .then(response => {
					 	this.setMessage(response.data);
					 	this.fetchLeagues();
					 	this.isLoading = false;
					 })
					 .catch(error => {
					 	console.log(error);
					 });
			},
			fetchLeagues: function() {
				this.isLoading = true;
				axios.get('/api/leagues', { 'params': this.serverParams })
					 .then(response => {
					 	this.handleResponse(response.data);
					 	this.isLoading = false;
					 })
					 .catch(error => {
					 	console.log(error);
					 });
			},
			openGameForm: function(gameSettingObj) {
				this.gameFormSettings = (gameSettingObj != undefined) ? gameSettingObj : null;
				this.gameFormOpened = true;
			},
			closeGameForm: function(message) {
				this.gameFormSettings = {
					game: {id: null},
					arenas: []
				};
				this.gameFormOpened = false;
				if(this.seasonFormOpened) {
					eventBus.$emit('refreshGames');
				}

				this.setMessage(message);
				this.fetchLeagues();
			},
			handleResponse: function(response) {
				var data = Object.values(response.data);
				var handledData = [];

				data.forEach(function(item) {
					item.type_display = item.type.name;
					item.status_display = item.status.name;
					handledData.push(item);
				});

				this.list = handledData;
			 	this.totalRecords = response.total
			 	this.isLoading = false;
			},
			increaseLeagueOrder: function(league) {
				this.isLoading = true;
				axios.put('/api/league/' + league.id + '/order/increase')
					 .then(response => {
					 	this.setMessage(response.data);
					 	this.fetchLeagues();
					 	this.isLoading = false;
					 })
					 .catch(error => {
					 	console.log(error);
					 });
			},
			triggerDeleteLeague: function(league) {
				this.isLoading = true;
				axios.delete('/api/league/' + league.id + '/delete')
					.then(response => {
						this.setMessage(response.data);
						this.fetchLeagues();
					})
					.catch(error => {
						console.log(error);
					});
			},
			openLeagueForm: function(league) {
				this.selectedLeague = (league != undefined) ? league : null;
				this.leagueFormOpened = true;
			},
			closeLeagueForm: function(message) {
				this.selectedLeague = null;
				this.leagueFormOpened = false;
				this.setMessage(message);
				this.fetchLeagues();
			},
			setMessage: function(message, messageClass) {
				this.messageClosed = (message != undefined) ? false : true;
				this.message.body = (message != undefined) ? message : null;
				this.message.class = (messageClass != undefined) ? messageClass : 'success';
			},
			closeMessage: function() {
				this.messageClosed = true;
			},

			updateParams(newProps) {
		      	this.serverParams = Object.assign({}, this.serverParams, newProps);
		    },
		    
		    onPageChange(params) {
				this.updateParams({page: params.currentPage});
				this.fetchLeagues();
		    },

		    onPerPageChange(params) {
				this.updateParams({perPage: params.currentPerPage});
				this.fetchLeagues();
		    },

		    onSortChange(params) {
				this.updateParams({
					sort: {
						type: params[0].type,
						field: params[0].field,
					},
					page: 1,
				});
				this.fetchLeagues();
		    },
		    
		    onColumnFilter(params) {
				this.updateParams(params);
				this.fetchLeagues();
    		},

    		seasonFormOpen:function(season) {
    			this.seasonFormOpened = true;
    			this.selectedSeason = season;
    		},
			closeSeasonForm: function(message) {
				this.seasonFormOpened = false;
				this.selectedSeason = { id: null };
				eventBus.$emit('refreshLeague');
			},
		}
	}
</script>