<template>
	<div class="data-entry-form data-entry-form__holder">
		<div class="col-lg-12">
			<div class="data-entry-form__header clearfix">
				<h3>{{ formTitle }}</h3>
				<ul class="actions-list">
					<li><button class="btn btn-danger" @click="closeForm"><span class="glyphicon glyphicon-remove"></span> Annuler</button></li>
					<li v-if="modifiedPage.id != null"><a class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> Voir la page</a></li>
				</ul>
			</div>
			<form @submit.prevent="submit">
				<div v-if="errors != ''">
            		{{ errors }}
            	</div>
            	<div class="row">
            		<div class="col-md-6">
	            		<div class="form-group clearfix">
		                    <label for="order" class="control-label">Ordre de la page</label>

		                    <div>
		                        <input id="order" type="number" class="form-control" name="order" v-model="modifiedPage.order" value="" autofocus>
		                    </div>
		                </div>

		                <div class="form-group clearfix">
							<label for="published" class="col-md-4 control-label no-pt no-pl">État de publication</label>
							<label for="brouillon" class="col-md-6 radio-label">
								<input type="radio" name="published" id="brouillon" value="0" v-model="modifiedPage.published">
								Brouillon
							</label>

							<label for="publie" class="col-md-6 col-md-offset-4 radio-label">
								<input type="radio" name="published" id="publie" value="1" v-model="modifiedPage.published">
								Publiée
							</label>
							
							<span v-if="errors.published" v-for="err in errors.published" :key="err" class="help-block error col-md-6 col-md-offset-4 radio-label">
		                        <strong>{{ err }}</strong>
		                    </span>
						</div>
						<div class="form-group clearfix">
							<label for="child_of" class="control-label">Page mère</label>
		                    
	                        <select name="child_of" id="child_of" class="form-control">
	                        	<option value=""></option>
	                        	<option v-for="page in pages" :value="page.id">{{ page.name }}</option>
	                        </select>
		                    
						</div>
						<div class="form-group clearfix">
							<label for="name" class="control-label">Nom</label>
							<input id="name" type="text" class="form-control" name="name" v-model="modifiedPage.name" required>
						</div>
						<div class="form-group">
							<label for="slug_name" class="control-label">Slug (Nom url)</label>
							<input id="slug_name" type="text" class="form-control" name="slug_name" v-model="modifiedPage.slug_name" required>
						</div>
	            	</div>
	            	<div class="col-md-6">
						<div class="form-group">
							<label for="child_of" class="control-label">Contenu</label>
							<ckeditor v-model="modifiedPage.content"></ckeditor>
						</div>
						<div class="form-group">
						</div>
					</div>
            	</div>
            	

				<div class="data-entry-form__footer ">
					<div class="col-lg-12 no-pl clearfix">
						<button class="btn btn-success">Enregistrer</button>
					</div>
				</div>
			</form>
		</div>
		
	</div>
</template>
<script>
	import CKEditor from 'ckeditor4-vue';
	export default {
		created() {
			this.modifiedPage = Object.assign(this.modifiedPage, this.page);
			this.modifiedPage.slug = (this.modifiedPage.slug == null) ? this.generatedSlug : this.page.slug;
			this.modifiedPage.published = (this.modifiedPage.published == "Publiée") ? 1 : 0;
		},
		props: ['page', 'pages'],
		components: {
            ckeditor: CKEditor.component
        },
        computed: {
        	formTitle: function() {
        		return (this.modifiedPage.id !== null) ? 'Éditer la page: ' + this.page.name : "Création d'une page";
        	},
        	generatedSlug: function() {
        		var result = this.modifiedPage.name
        		result = result.replace(/^\s+|\s+$/g, ''); // trim
			    result = result.toLowerCase();
			  
			    // remove accents, swap ñ for n, etc
			    var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
			    var to   = "aaaaeeeeiiiioooouuuunc------";
			    for (var i=0, l=from.length ; i<l ; i++) {
			        result = result.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
			    }

			    result = result.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
			        .replace(/\s+/g, '-') // collapse whitespace and replace by -
			        .replace(/-+/g, '-'); // collapse dashes

			    return result;
        	}
        },
		data: function() {
			return {
				modifiedPage: {
					id: null,
					league_id: 1,
					name:"",
					slug_name:"",
					content:"",
					content_more:"",
					order:"",
					child_of:"",
					type:"",
					published:"",
				},
				errors: [],
			}
		},
		methods: {
			closeForm: function() {
				this.$emit('closeForm');
			},
			submit: function() {
				if(this.modifiedPage.id != null) {
					this.updatePage()
				} else {
					this.createPage()
				}
			},
			updatePage: function() {
				axios.put('/api/page/' + this.modifiedPage.id + '/update', this.modifiedPage)
					.then(response => {
						this.$emit('closeForm', response.data);
					})
					.catch(error => {
						console.log(error);
					});
			},
			createPage: function() {
				axios.post('/api/page/create', this.modifiedPage)
					.then(response => {
						this.$emit('closeForm', response.data);
					})
					.catch(error => {
						console.log(error);
					});
			}
		}
	}
</script>