body {
    background-color: $body-bg;
    background-attachment: fixed;
    background-repeat: none;
}

header {
    background-color: $mineshaft;
    box-sizing: border-box;
    color: $white;
    margin: 0;
    padding: 15px;
}

header h1 {
    margin: 0;
    float: left;
}

/***** Temporaire ****/
.graduate { font-family: $ff-graduate; }
.jockey { font-family: $ff-jockey; }
/*********************/

/* main column styles */
.main-col {
}

/* footer */

footer {
    background-color: $mineshaft;
    margin-top: 20px;
    padding: 10px;

    hr {
        margin-top: 20px;
    }
}

