// Colors
$alto: #d3d3d3;
$black : #000;
$catskill-white: #f5f8fa;
$curious-blue: #3097D1;
$mineshaft: #333;
$white: #fff;

// Body
$body-bg: $catskill-white;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$ff-graduate: 'Graduate', sans-serif;
$ff-jockey: 'Jockey One', sans-serif;
$ff-ubuntu: 'Ubuntu', Verdana, sans-serif;
$font-family-sans-serif: $ff-ubuntu;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: $white;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: $white;

// Colors

$bg-error: #ffd3c7;
$bg-success: #b8fcc6;
$error-font: #751900;
$success-font: #00911e;
