<template>
	<div class="data-entry-form data-entry-form__holder">
		<div class="col-lg-12">
			<div class="data-entry-form__header clearfix">
				<h3>{{ formTitle }}</h3>
				<ul class="actions-list">
					<li><button class="btn btn-danger" @click="closeForm"><span class="glyphicon glyphicon-remove"></span> Annuler</button></li>
				</ul>
				<div v-if="!messageClosed" class="message-box clearfix" :class="message.class">
					{{ message.body }}
					<button class="btn" @click="closeMessage"><span class="glyphicon glyphicon-remove"></span> Fermer</button>
				</div>
			</div>
			<form @submit.prevent="submit">
				<div v-if="errors != ''">
            		{{ errors }}
            	</div>
            	<div class="row">
            		<div class="col-md-6">
						<div class="form-group clearfix">
							<label for="title" class="control-label">Nom</label>
							<input id="title" type="text" class="form-control" name="title" v-model="modifiedMenu.name" required>
						</div>
						<div class="form-group" v-if="menu.name != null">
							<div class="data-entry-form__header clearfix" >
								<h4>Éléments de menu</h4>
								<button type="button" @click="openMenuItemForm()" class="btn btn-success">
									<span class="glyphicon glyphicon-plus"></span> Créer un élément de menu
								</button>
							</div>
							<table class="vgt-table bordered" v-if="!isMenuItemsLoading">
								<thead>
									<th>Titre</th>
									<th>Actions</th>
								</thead>
								<tbody>
									<tr v-for="(item, index) in modifiedMenu.menu_items">
										<td>{{item.title}}</td>
										<td>
											<ul class="actions-list">
												<li>
													<button type="button" @click="openMenuItemForm(item)" title="" class="btn btn-info">
														<span class="glyphicon glyphicon-edit"></span>
													</button>
												</li>
												<li>
													<button type="button" @click="triggerDeleteMenuItem(item)" title="" class="btn btn-danger">
														<span class="glyphicon glyphicon-trash" ></span> 
													</button>
												</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="loading-overlay" v-if="isMenuItemsLoading">
								<div class="spinner">
									<div></div>
								</div>
							</div>
						</div>
	            	</div>
	            	<div class="col-md-6 clearfix">
						<form v-if="menuItemFormOpened" @submit.prevent="submitMenuItem">
							<div class="data-entry-form__header clearfix">
								<h4>{{ menuItemformTitle }}</h4>
								<ul class="actions-list">
									<li>
										<button class="btn btn-danger" @click="closeMenuItemForm">
											<span class="glyphicon glyphicon-remove"></span> Annuler
										</button>
									</li>
								</ul>
							</div>
							<div class="form-group">
								<label for="menuItemTitle" class="control-label">Nom</label>
								<input id="menuItemTitle" type="text" class="form-control" name="menuItemTitle" v-model="selectedMenuItem.title" required>
							</div>
							<div class="form-group">
								<label for="menuItemMenu" class="control-label">Associé au menu</label>
								<select name="menuItemMenu" id="menuItemMenu" v-model="selectedMenuItem.menu_id" class="form-control">
									<option v-for="(menu, index) in menusList" :value="menu.id">{{ menu.name }}</option>
								</select>
							</div>
							<div class="form-group">
								<label for="menuItemUrl" class="control-label">Url</label>
								<input id="menuItemUrl" type="text" class="form-control" name="menuItemUrl" v-model="selectedMenuItem.url" placeholder="/un-url" required>
							</div>
							<div class="form-group">
								<label for="menuItemIcon" class="control-label">Class icône</label>
								<input id="menuItemIcon" type="text" class="form-control" name="menuItemIcon" v-model="selectedMenuItem.icon_class" required>
							</div>
							<div class="form-group">
								<label for="menuItemOrder" class="control-label">Ordre</label>
								<input id="menuItemOrder" type="text" class="form-control" name="menuItemOrder" v-model="selectedMenuItem.order" required>
							</div>

							<div class="data-entry-form__footer ">
								<div class="col-lg-12 no-pl clearfix">
									<button type='submit' class="btn btn-success">Enregistrer</button>
								</div>
							</div>
						</form>
					</div>
            	</div>
            	

				<div class="data-entry-form__footer ">
					<div class="col-lg-12 no-pl clearfix">
						<button type='submit' class="btn btn-success">Enregistrer</button>
					</div>
				</div>
			</form>
		</div>
		
	</div>
</template>
<script>
	export default {
		created() {
			this.modifiedMenu = Object.assign(this.modifiedMenu, this.menu);
			this.fetchMenuItems();
		},
		props: ['menu', 'menus'],
        computed: {
        	formTitle: function() {
        		return (this.modifiedMenu.id !== null) ? 'Éditer le menu: ' + this.menu.name : "Création d'un menu";
        	},
        	menuItemformTitle: function() {
        		return (this.selectedMenuItem.id !== null) ? 'Éditer : ' + this.selectedMenuItem.title : "Création d'un élément de menu";
        	},
        },
		data: function() {
			return {
				isMenuItemsLoading: false,
				menuItemFormOpened: false,
				messageClosed: true,
				message: {
					body: null,
					class: null
				},
				selectedMenuItem: {
					id: null
				},
				menusList: this.menus,
				modifiedMenu: {
					name: null,
					menu_items: [],
				},
				errors: [],
			}
		},
		methods: {
			closeForm: function() {
				this.$emit('closeForm');
			},
			closeMenuItemForm: function() {
				this.selectedMenuItem = {
					id: null
				};
				this.menuItemFormOpened = false;
			},
			fetchMenuItems: function() {
				this.isMenuItemsLoading = true;
				axios.get('/api/menu/' + this.modifiedMenu.id + '/items')
					 .then(response => {
					 	this.modifiedMenu.menu_items = response.data;
					 	this.isMenuItemsLoading = false;
					 })
					 .catch(error => {
					 	console.log(error);
					 });
			},
			triggerDeleteMenuItem: function(menuItem) {
				axios.delete('/api/menu/' + this.modifiedMenu.id + '/item/' + menuItem.id + '/delete')
					 .then(response => {
					 	this.setMessage(response.data);
						this.fetchMenuItems();
					 })
					 .catch(error => {
					 	console.log(error);
					 });
			},
			submit: function(event) {
				if(this.modifiedMenu.id != null) {
					this.updateMenu()
				} else {
					this.createMenu()
				}
			},

			submitMenuItem: function(event) {
				if(this.selectedMenuItem.id != null) {
					this.updateMenuItem();
				} else {
					this.createMenuItem();
				}
			},
			updateMenu: function() {
				axios.put('/api/menu/' + this.modifiedMenu.id + '/update', this.modifiedMenu)
					.then(response => {
						this.$emit('closeForm', response.data);
					})
					.catch(error => {
						console.log(error);
					});
			},
			createMenu: function() {
				axios.post('/api/menu/create', this.modifiedMenu)
					.then(response => {
						this.$emit('closeForm', response.data);
					})
					.catch(error => {
						console.log(error);
					});
			},
			updateMenuItem: function() {
				axios.put('/api/menu/' + this.modifiedMenu.id + '/item/'+ this.selectedMenuItem.id + '/update', this.selectedMenuItem)
					.then(response => {
						this.setMessage(response.data);
						this.closeMenuItemForm();
						this.fetchMenuItems();
					})
					.catch(error => {
						console.log(error);
					});
			},
			createMenuItem: function() {
				axios.post('/api/menu/' + this.modifiedMenu.id + '/item/create', this.selectedMenuItem)
					.then(response => {
						this.setMessage(response.data);
						this.closeMenuItemForm();
						this.fetchMenuItems();
					})
					.catch(error => {
						console.log(error);
					});
			},
			openMenuItemForm: function(item) {
				this.selectedMenuItem = (item != undefined) ? Object.assign(this.selectedMenuItem, item) : this.selectedMenuItem;
				this.menuItemFormOpened = true;
			},
			setMessage: function(message, messageClass) {
				this.messageClosed = (message != undefined) ? false : true;
				this.message.body = (message != undefined) ? message : null;
				this.message.class = (messageClass != undefined) ? messageClass : 'success';
			},
			closeMessage: function() {
				this.messageClosed = true;
			},
		}
	}
</script>