<template>
	<div class="row sub-page" v-bind:class="{ formOpened: formOpened  }">
		<div class="col-lg-12">
			<div class="sub-page__header">
				<h3>Menus</h3>
				<button @click="openForm" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Créer un menu</button>
				<div v-if="!messageClosed" class="message-box clearfix" :class="message.class">
					{{ message.body }}
					<button class="btn" @click="closeMessage"><span class="glyphicon glyphicon-remove"></span> Fermer</button>
				</div>
			</div>
			<vue-good-table
				mode="remote"
			  	@on-page-change="onPageChange"
		  		@on-sort-change="onSortChange"
			  	@on-column-filter="onColumnFilter"
			  	@on-per-page-change="onPerPageChange"
			  	:totalRows="totalRecords"
			  	:isLoading.sync="isLoading"
			  	:sort-options="sortingOpts"
			  	:pagination-options="paginationOpts" 
				:columns="columns"
				:rows="list">
				<template slot="table-row" slot-scope="props">
				    <ul class="actions-list" v-if="props.column.field == 'after'">
						<li>
							<button @click="openForm(props.row)" class="btn btn-info">
								<span class="glyphicon glyphicon-edit"></span> Éditer
							</button>
						</li>
						<li>
							<button @click="triggerDeleteMenu(props.row)" title="" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash" ></span> Supprimer
							</button>
						</li>
				    </ul>
				    <span v-else>
				      {{props.formattedRow[props.column.field]}}
				    </span>
				</template>
				<template slot="loadingContent">
					<div class="loading-overlay" v-if="isLoading">
						<div class="spinner">
							<div></div>
						</div>
					</div>
				</template>
			</vue-good-table>
		</div>
		<menu-form v-if="formOpened" :menu="selectedMenu" :menus="list" v-on:closeForm="closeForm"></menu-form>	
	</div>
</template>
<script>
	import MenuForm from "./Form.vue";
	// import the styles
	import 'vue-good-table/dist/vue-good-table.css'
	import { VueGoodTable } from 'vue-good-table';

	export default {
		created() {
			this.fetchMenus()
		},
		components: {
			'menu-form': MenuForm,
			VueGoodTable
		},
		data: function() {
			return {
				isLoading: false,
				selectedMenu: {
					id: null,
				},
				formOpened: false,
				message: {
					body: null,
					class: null
				},
				messageClosed: true,
				paginationOpts: {
				    enabled: true,
				    perPage: 15,
				    perPageDropdown: [5,10,15,20],
				    nextLabel: 'Suivante',
				    prevLabel: 'Précédente',
				    rowsPerPageLabel: 'Nouvelles par pages',
				},
				sortingOpts: {
				    enabled: true
				},
				columns: [
					{
						label: 'Name',
						field: 'name'
					},
					{
						label: 'Dernière MÀJ',
						field: 'updated_at'
					},
					{
						label: 'Actions',
						field: 'after'
					},
				],
				list: [],
				totalRecords: 0,
				serverParams: {
					columnFilters: {},
					sort: {},
					page: 1, 
					perPage: 15
			    },
			    userWarned: false
			};
		},
		methods: {
			fetchMenus: function() {
				this.isLoading = true;
				axios.get('/api/menus',  { params: this.serverParams })
					 .then(response => {
					 	this.handleResponse(response.data);
					 })
					 .catch(error => {
					 	console.log(error);
					 });
			},
			handleResponse: function(response) {
				var data = Object.values(response.data);
				var handledData = [];

				data.forEach(function(item) {
					handledData.push(item);
				});

				this.list = handledData;
			 	this.totalRecords = response.total
			 	this.isLoading = false;
			},
			triggerDeleteMenu: function(menu) {

				if(!this.userWarned) {
					this.setMessage("Attention, si vous supprimez un menu, tous les éléments inclus seront supprimés, pour effectuer l'action, veuillez réappuyer sur le bouton de supression", 'error');
					this.userWarned = true;
					return;
				}


				this.loading = true;
				axios.delete('/api/menu/' + menu.id + '/delete')
					.then(response => {
						this.setMessage(response.data);
						this.fetchMenus();
					})
					.catch(error => {
						console.log(error);
					});
			},
			openForm: function(menu) {
				this.selectedMenu = (menu != undefined) ? Object.assign(this.selectedMenu, menu) : this.selectedMenu;
				this.formOpened = true;
			},
			closeForm: function(message) {
				this.selectedMenu = null;
				this.formOpened = false;
				this.setMessage(message);
				this.fetchMenus();
			},
			setMessage: function(message, messageClass) {
				this.messageClosed = (message != undefined) ? false : true;
				this.message.body = (message != undefined) ? message : null;
				this.message.class = (messageClass != undefined) ? messageClass : 'success';
			},
			closeMessage: function() {
				this.messageClosed = true;
			},

			updateParams(newProps) {
		      	this.serverParams = Object.assign({}, this.serverParams, newProps);
		    },
		    
		    onPageChange(params) {
				this.updateParams({page: params.currentPage});
				this.fetchMenus();
		    },

		    onPerPageChange(params) {
				this.updateParams({perPage: params.currentPerPage});
				this.fetchMenus();
		    },

		    onSortChange(params) {
				this.updateParams({
					sort: {
						type: params[0].type,
						field: params[0].field,
					},
					page: 1,
				});
				this.fetchMenus();
		    },
		    
		    onColumnFilter(params) {
				this.updateParams(params);
				this.fetchMenus();
    		},

		}
	}
</script>