<template>
	<ul class="admin-menu">
		<li v-for="(i, index) in list">
			<router-link :to="i.url" :title="i.title"><span :class="i.icon_class" class="glyphicon" ></span></router-link>	
		</li>
	</ul>
</template>
<script>
	export default {
		created: function(){
			this.fetchMenuItems();
		},
		mounted() {},
		computed: {
			
		},
		data: function() {
			return {
				list: null
			}
		},
		methods: {
			fetchMenuItems: function() {
				axios.get('/api/admin-menu')
					 .then(response => {
					 	this.list = response.data;
					 })
					 .catch(error => {
					 	this.$emit('ghbLoaded');
					 	console.log(error);
					 });
			}
		}
	}
</script>