<template>
	<ul>
		<li v-for="(i, index) in list">
			<router-link :to="i.url">{{ i.title }}</router-link>	
		</li>
	</ul>
</template>
<script>
	export default {
		created: function(){},
		mounted() {},
		props: {
			items: Array,
			default: []
		},
		data: function() {
			return {
				list: this.items
			}
		}
	}
</script>