<template>
	<ul class="user-nav">
        <li v-if="!loggedIn"><router-link :to="{ name: 'register' }"><span class="glyphicon glyphicon-download-alt" ></span></router-link></li>
        <li v-if="!loggedIn"><router-link :to="{ name: 'connexion' }"><span class="glyphicon glyphicon-user"></span></router-link></li>

        <li class="dropdown" v-if="loggedIn">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>
                <span class="glyphicon glyphicon-user"></span>
            </a>
            <ul class="dropdown-menu">
                <li><span>Bonjour <em>{{ userFullName }}</em></span></li>
                <li><router-link :to="{ name: 'dashboard' }">Tableau de bord</router-link></li>
                <li><a :class="userBalanceClass" href="#">Votre solde: {{ userBalance }}</a></li>
                <li><a href="#">Votre horaire</a></li>
                <!-- <li v-if="isUserAdmin"><router-link :to=""></router-link></li> -->
            </ul>
        </li>
        <li v-if="loggedIn">
            <router-link :to="{ name: 'logout' }"><span class="glyphicon glyphicon-off"></span></router-link>
        </li>
    </ul>
</template>
<script>
	export default {
		created: function() {
            if(this.loggedIn) {
                this.$store.dispatch('retrieveUserInfos');
            }
        },
		computed: {
			loggedIn: function() {
				return this.$store.getters.loggedIn;
			},
            userFullName: function() {
                return this.$store.getters.userFullName;
            },
            userBalanceClass: function() {
                return (parseInt(this.userBalance) > 0 ) ? 'debt' : 'cred';
            },
            userBalance: function() {
                return this.$store.getters.userBalance;
            },
            isUserAdmin: function() {
                return this.$store.getters.isUserAdmin;
            }
		}
	}
</script>