<template>
	<div class="data-entry-form data-entry-form__holder">
		<div class="col-lg-12">
			<div class="data-entry-form__header clearfix">
				<h3>{{ formTitle }}</h3>
				<ul class="actions-list">
					<li><button class="btn btn-danger" @click="closeForm"><span class="glyphicon glyphicon-remove"></span> Annuler</button></li>
				</ul>
			</div>
			<form @submit.prevent="submit">
				<div v-if="errors != ''">
            		{{ errors }}
            	</div>
            	<div class="row">
            		<div class="col-md-6">
		                <div class="form-group clearfix">
							<label for="published" class="col-md-4 control-label no-pt no-pl">État de publication</label>
							<label for="brouillon" class="col-md-6 radio-label">
								<input type="radio" name="status" id="brouillon" value="DRAFT" v-model="modifiedPost.status">
								Brouillon
							</label>

							<label for="publie" class="col-md-6 col-md-offset-4 radio-label">
								<input type="radio" name="status" id="publie" value="PUBLISHED" v-model="modifiedPost.status">
								Publiée
							</label>

							<label for="pending" class="col-md-6 col-md-offset-4 radio-label">
								<input type="radio" name="status" id="pending" value="PENDING" v-model="modifiedPost.status">
								En révision
							</label>
							
							<span v-if="errors.published" v-for="err in errors.published" :key="err" class="help-block error col-md-6 col-md-offset-4 radio-label">
		                        <strong>{{ err }}</strong>
		                    </span>
						</div>
						
						<div class="form-group clearfix">
							<label for="title" class="control-label">Titre</label>
							<input id="title" type="text" class="form-control" name="title" v-model="modifiedPost.title" required>
						</div>
						<div class="form-group">
							<label for="slug" class="control-label">Slug (Nom url)</label>
							<input id="slug" type="text" class="form-control" name="slug_name" v-model="modifiedPost.slug" required>
						</div>
	            	</div>
	            	<div class="col-md-6">
						<div class="form-group">
							<label for="child_of" class="control-label">Contenu</label>
							<ckeditor v-model="modifiedPost.body"></ckeditor>
						</div>
						<div class="form-group">
							<label for="child_of" class="control-label">Accroche</label>
							<ckeditor v-model="modifiedPost.excerpt"></ckeditor>
						</div>
					</div>
            	</div>
            	

				<div class="data-entry-form__footer ">
					<div class="col-lg-12 no-pl clearfix">
						<button class="btn btn-success">Enregistrer</button>
					</div>
				</div>
			</form>
		</div>
		
	</div>
</template>
<script>
	import CKEditor from 'ckeditor4-vue';
	export default {
		created() {
			this.modifiedPost = Object.assign(this.modifiedPost, this.post);
			this.modifiedPost.slug = (this.modifiedPost.slug == null) ? this.generatedSlug : this.post.slug;
		},
		props: ['post'],
		components: {
            ckeditor: CKEditor.component
        },
        computed: {
        	formTitle: function() {
        		return (this.modifiedPost.id !== null) ? 'Éditer la nouvelle: ' + this.post.title : "Création d'une nouvelle";
        	},
        	generatedSlug: function() {
        		var result = this.modifiedPost.title
        		result = result.replace(/^\s+|\s+$/g, ''); // trim
			    result = result.toLowerCase();
			  
			    // remove accents, swap ñ for n, etc
			    var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
			    var to   = "aaaaeeeeiiiioooouuuunc------";
			    for (var i=0, l=from.length ; i<l ; i++) {
			        result = result.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
			    }

			    result = result.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
			        .replace(/\s+/g, '-') // collapse whitespace and replace by -
			        .replace(/-+/g, '-'); // collapse dashes

			    return result;
        	}
        },
		data: function() {
			return {
				modifiedPost: {
					id: null,
					league_id:null,
					title: "",
					body: "",
					excerpt: "",
					sticky:null,
					featured_img:null,
					slug: null,
					status:null,
					author_id:null
				},
				errors: [],
			}
		},
		methods: {
			closeForm: function() {
				this.$emit('closeForm');
			},
			submit: function() {
				if(this.modifiedPost.id != null) {
					this.updatePost()
				} else {
					this.createPost()
				}
			},
			updatePost: function() {
				axios.put('/api/post/' + this.modifiedPost.id + '/update', this.modifiedPost)
					.then(response => {
						this.$emit('closeForm', response.data);
					})
					.catch(error => {
						console.log(error);
					});
			},
			createPost: function() {
				axios.post('/api/post/create', this.modifiedPost)
					.then(response => {
						this.$emit('closeForm', response.data);
					})
					.catch(error => {
						console.log(error);
					});
			}
		}
	}
</script>