<template>
	<div class="row sub-page">
		<div class="col-lg-12">
			<div class="sub-page__header">
				<h3>Nouvelles</h3>
				<button @click="openForm" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Créer une nouvelle</button>
				<div v-if="!messageClosed" class="message-box success">
					{{ message }}
					<button class="btn" @click="closeMessage"><span class="glyphicon glyphicon-remove"></span> Fermer</button>
				</div>
			</div>
			<vue-good-table
				mode="remote"
			  	@on-page-change="onPageChange"
		  		@on-sort-change="onSortChange"
			  	@on-column-filter="onColumnFilter"
			  	@on-per-page-change="onPerPageChange"
			  	:totalRows="totalRecords"
			  	:isLoading.sync="isLoading"
			  	:sort-options="sortingOpts"
			  	:pagination-options="paginationOpts" 
				:columns="columns"
				:rows="list">
				<template slot="table-row" slot-scope="props">
				    <ul class="actions-list" v-if="props.column.field == 'after'">
			      		<li>
							<button @click="triggerPublishingPost(props.row)" :title="getTitle(props.row)" class="btn btn-default">
								<span :class="getIcon(props.row)" class="glyphicon" ></span>
							</button>
						</li>
						<li>
							<button @click="openForm(props.row)" title="Éditer cette nouvelle" class="btn btn-info">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
						</li>
						<li>
							<button @click="triggerDeletePost(props.row)" title="Supprimer cette page" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash" ></span>
							</button>
						</li>
				    </ul>
				    <span v-else>
				      {{props.formattedRow[props.column.field]}}
				    </span>
				</template>
				<template slot="loadingContent">
					<div class="loading-overlay" v-if="isLoading">
						<div class="spinner">
							<div></div>
						</div>
					</div>
				</template>
			</vue-good-table>
		</div>
		<post-form v-if="formOpened" :post="selectedPost" v-on:closeForm="closeForm"></post-form>	
	</div>
</template>
<script>
	import PostForm from "./Form.vue";
	// import the styles
	import 'vue-good-table/dist/vue-good-table.css'
	import { VueGoodTable } from 'vue-good-table';

	export default {
		created() {
			this.fetchPosts()
		},
		components: {
			'post-form': PostForm,
			VueGoodTable
		},
		data: function() {
			return {
				loading: false,
				isLoading: false,
				selectedPost: null,
				formOpened: false,
				message: null,
				messageClosed: true,
				paginationOpts: {
				    enabled: true,
				    perPage: 15,
				    perPageDropdown: [5,10,15,20],
				    nextLabel: 'Suivante',
				    prevLabel: 'Précédente',
				    rowsPerPageLabel: 'Nouvelles par pages',
				},
				sortingOpts: {
				    enabled: true
				},
				columns: [
					{
						label: 'Date',
						field: 'entry_date'
					},
					{
						label: 'Titre',
						field: 'title'
					},
					{
						label: 'Actions',
						field: 'after'
					},
				],
				list: [],
				totalRecords: 0,
				serverParams: {
					columnFilters: {},
					sort: { "field": "entry_date", "type": "desc" },
					page: 1, 
					perPage: 15
			    }
			};
		},
		methods: {
			displayStatus(isActive) {
				return (isActive) ? 'Publié' : 'Non publiée';
			},
			fetchPosts: function() {
				this.isLoading = true;
				axios.get('/api/posts',  { params: this.serverParams })
					 .then(response => {
					 	this.handleResponse(response.data);
					 })
					 .catch(error => {
					 	console.log(error);
					 });
			},
			handleResponse: function(response) {
				var data = Object.values(response.data);
				var handledData = [];

				data.forEach(function(item) {
					item.entry_date = item.entry_date.formatted;
					handledData.push(item);
				});

				this.list = handledData;
			 	this.totalRecords = response.total
			 	this.isLoading = false;
			},
			triggerPublishingPost: function(post) {
				var link = (post.status == 'DRAFT' || post.status == 'PENDING' || post.status == null) ? '/api/post/' + post.id + '/unpublish' : '/api/post/' + post.id + '/publish';
				this.loading = true;
				axios.put(link)
					.then(response => {
						this.setMessage(response.data);
						this.fetchPosts();
					})
					.catch(error => {
						console.log(error);
					});
			},
			getTitle: function(isActive) {
				return (isActive) ? 'Publier' : 'Dépublier';
			},
			getIcon: function(isActive) {
				return (isActive) ? 'glyphicon-remove' : 'glyphicon-ok';
			},
			triggerDeletePost: function(id) {
				this.loading = true;
				axios.delete('/api/post/' + id + '/delete')
					.then(response => {
						this.setMessage(response.data);
						this.fetchPosts();
					})
					.catch(error => {
						console.log(error);
					});
			},
			openForm: function(post) {
				this.selectedPost = (post != undefined) ? post : null;
				this.formOpened = true;
			},
			closeForm: function(message) {
				this.selectedPost = null;
				this.formOpened = false;
				this.setMessage(message);
				this.fetchPosts();
			},
			setMessage: function(message) {
				this.messageClosed = (message != undefined) ? false : true;
				this.message = (message != undefined) ? message : null;
			},
			closeMessage: function() {
				this.messageClosed = true;
			},

			updateParams(newProps) {
		      	this.serverParams = Object.assign({}, this.serverParams, newProps);
		    },
		    
		    onPageChange(params) {
				this.updateParams({page: params.currentPage});
				this.fetchPosts();
		    },

		    onPerPageChange(params) {
				this.updateParams({perPage: params.currentPerPage});
				this.fetchPosts();
		    },

		    onSortChange(params) {
				this.updateParams({
					sort: {
						type: params[0].type,
						field: params[0].field,
					},
					page: 1,
				});
				this.fetchPosts();
		    },
		    
		    onColumnFilter(params) {
				this.updateParams(params);
				this.fetchPosts();
    		},

		}
	}
</script>