<template>
	<div class="data-entry-form data-entry-form__holder">
		<div class="col-lg-12">
			<div class="data-entry-form__header clearfix">
				<h3>{{ formTitle }}</h3>
				<ul class="actions-list">
					<li><button class="btn btn-success" @click="submit">Enregistrer</button> </li>
					<li>
						<button class="btn btn-primary" @click="togglePubsForm">
							<span class="glyphicon" :class="pubButtonIcn"></span> {{ pubButtonLabel }}
						</button>
					</li>
					<li><button class="btn btn-danger" @click="closeForm"><span class="glyphicon glyphicon-remove"></span> Annuler</button></li>
				</ul>
			</div>
			<form @submit.prevent="submit">
				<div v-if="errors != ''">
            		{{ errors }}
            	</div>
            	<div class="row">
            		<div class="loading-overlay" v-if="!formReady">
						<div class="spinner">
							<div></div>
						</div>
					</div>
            		<div class="col-md-6">
            			<div class="form-group clearfix">
							<label for="begin" class="control-label">Date de la partie</label>
							<date-picker v-model="modifiedGame.date" :language="fr" :disabled-dates="disabledDates"></date-picker>
						</div>
						<div class="form-group clearfix">
							<label for="match_type" class="control-label">Type de match</label>
							<select name="match_type" id="match_type" class="form-control" v-model="modifiedGame.match_type">
	                        	<option v-for="mType in matchTypes" :value="mType.id">{{ mType.name }}</option>
	                        </select>
						</div>
	            		<div class="form-group clearfix col-md-6 no-pl">
							<label for="game_start" class="control-label block">Heure de début des parties</label>
							<vue-timepicker v-model="modifiedGame.game_start"></vue-timepicker>
						</div>
						<div class="form-group clearfix col-md-6 no-pl no-pr">
							<label for="game_end" class="control-label block">Heure de fin des parties</label>
							<vue-timepicker v-model="modifiedGame.game_end"></vue-timepicker>
						</div>
						<div class="form-group clearfix">
							<label for="arena" class="control-label">Aréna</label>
		                    
	                        <select name="arena" id="arena" class="form-control" v-model="modifiedGame.arena_id">
	                        	<option v-for="arena in arenas" :value="arena.id">{{ arena.name }}</option>
	                        </select>
						</div>
						
						<div class="form-group clearfix" v-if="pubsSection.open">
							<label for="publicity_home" class="control-label">Publicité équipe locale</label>
		                    
	                        <select name="publicity_home" id="status" class="form-control" v-model="modifiedGame.publicity_home">
	                        	<option v-for="pub in pubs" :value="pub.id">{{ pub.name }}</option>
	                        </select>

	                        <label for="publicity_away" class="control-label">Publicité équipe visiteur</label>
	                        <select name="publicity_away" id="publicity_away" class="form-control" v-model="modifiedGame.publicity_away">
	                        	<option v-for="pub in pubs" :value="pub.id">{{ pub.name }}</option>
	                        </select>
						</div>
	            	</div>
	            	<div class="col-md-6">
						
					</div>
            	</div>
			</form>
		</div>
		
	</div>
</template>
<script>
	import Datepicker from 'vuejs-datepicker';
	import {fr} from 'vuejs-datepicker/dist/locale'
	import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue';
	export default {
		created() {
			this.modifiedGame = Object.assign(this.modifiedGame, this.gameSettings.game);
			this.arenas = this.gameSettings.arenas;
			this.localLimits = Object.assign(this.localLimits, this.gameSettings.limits);

			this.disabledDates = {
				ranges:[{
					from: new Date(2012, 0, 0),
					to: this.localLimits.start.setDate(this.localLimits.start.getDate() - 1)
					// pour ne pas inclure la date de début dans le range
				},
				{
					// pour ne pas inclure la date de fin dans le range
					from: this.localLimits.end.setDate(this.localLimits.end.getDate() + 1),
					to: new Date(2030, 0, 0)
				}]
			};


			this.fetchMatchTypes();

			// formatting de la date pour éviter un brainfart de vuejsdatepicker
			this.modifiedGame.date = (this.modifiedGame.date !== null && typeof this.modifiedGame.date == 'string') ?  new Date(this.modifiedGame.date.replace(/-/g, '/')) : this.modifiedGame.date;
		},
		props: ['game-settings'],
		components: {
            "date-picker": Datepicker,
            VueTimepicker
        },
        computed: {
        	formTitle: function() {
        		return (this.modifiedGame.id !== null) ? 'Éditer la partie: ' + this.gameSettings.game.date : "Création d'une partie";
        	},
        	formReady: function() {
        		return !this.matchTypesLoading;
        	},
        	pubButtonLabel: function() {
        		return (this.pubsSection.open) ? this.pubsSection.btnMsgOpen : this.pubsSection.btnMsgClosed;
        	},
        	pubButtonIcn: function() {
        		return (this.pubsSection.open) ? this.pubsSection.icnOpened : this.pubsSection.icnClosed;
        	}
        },
		data: function() {
			return {
				modifiedGame: {
					id: null,
					match_type:"",
					date:null,
					game_start:null,
					game_end:null,
					publicity_home:"",
					publicity_away:"",
					away_room:"",
					home_room:"",
					arena_id: null,
					season_id: null,
				},
				arenas:[],
				disabledDates:{
					ranges:[]
				},
				errors: [],
				fr: fr,
				localLimits: {
					start: null,
					end: null
				},
				pubs:[],
				pubsSection: {
					open: false,
					btnMsgOpen: 'Fermer la section publicitaire',
					btnMsgClosed: 'Ouvrir la section publicitaire',
					icnClosed: 'glyphicon-pencil',
					icnOpened: 'glyphicon-remove',
				},
				matchTypes:[],
				matchTypesLoading: false
			}
		},
		methods: {
			closeForm: function() {
				this.$emit('closeGameForm');
			},
			submit: function() {
				if(this.modifiedGame.id != null) {
					this.updateGame()
				} else {
					this.createGame()
				}
			},
			updateGame: function() {
				this.simplifyTimeFormat();
				axios.put('/api/season/'+ this.modifiedGame.season_id + '/game/' + this.modifiedGame.id + '/update', this.modifiedGame)
					.then(response => {
						this.$emit('closeGameForm', response.data);
					})
					.catch(error => {
						console.log(error);
					});
			},
			createGame: function() {
				this.simplifyTimeFormat();
				axios.post('/api/season/'+ this.modifiedGame.season_id + '/game/create', this.modifiedGame)
					.then(response => {
						this.$emit('closeGameForm', response.data);
					})
					.catch(error => {
						console.log(error);
					});
			},
			fetchMatchTypes: function() {
				this.matchTypesLoading = true;
				axios.get('/api/match-types')
					.then(response => {
						this.matchTypesLoading = false;
						this.matchTypes = response.data;
					})
					.catch(error => {
						this.matchTypesLoading = false;
						console.log(error);
					});
			},
			simplifyTimeFormat: function() {
				this.modifiedGame.game_start = (typeof this.modifiedGame.game_start === 'object') ? this.modifiedGame.game_start.HH + ":" + this.modifiedGame.game_start.mm : this.modifiedGame.game_start;
				this.modifiedGame.game_end =  (typeof this.modifiedGame.game_end === 'object') ? this.modifiedGame.game_end.HH + ":" + this.modifiedGame.game_end.mm : this.modifiedGame.game_end;
			},
			togglePubsForm: function() {
				this.pubsSection.open = !this.pubsSection.open;
			},
		}
	}
</script>